{% extends "gstudio/base.html" %}

{% block title %}About NROER{% endblock %}
<style>
	ul li a
{
	color:#333;
}
</style>

{% block content %}
<h1>About NROER</h1>

<p>The National Repository of Open Educational  Resources (NROER) is a collaborative platform, involving each and every one of  us interested in children, teachers and education. The Repository will  endeavour to bring together all digital and digitisable resources for the  school system &ndash; for all classes, for all subjects and in all languages. </p>

<p>The Repository is an initiative of the  Department of School Education and Literacy, Ministry of Human Resource  Development, Government of India and the Central Institute of Educational  Technology, National Council of Educational Research and Training. Metastudio,  the platform hosting the Repository is an initiative of the Gnowledge Labs,  Homi Bhabha Centre for Science Education. </p>

<p>The Repository organises its collections  into a ever growing semantic map of concepts. The concept map itself is a  learning resource for teachers, providing an opportunity for critically  assessing the curriculum and aiding the construction of their own unique  learning themes for their classrooms. The digital resources &ndash; documents,  audio-visuals, interactive objects, images are mapped to the concepts. This  enables access to a library from which teachers can choose appropriate  resources. </p>
<p>Each resource is tagged to related concepts  making it accessible. Each resource can be downloaded. Each resource can be  commented upon. Each resource is released for free use. </p>
<p>The Repository has just begun. It has many  concepts mapped. It also has many&nbsp;  resources. It will be our collective endeavour to grow it to encompass  school curriculum. We invite participation. </p>
<div><b>MISSION</b>
<ul style="margin-left:0px;padding-left:12px;">
	<li>To store, preserve and  provide access to variety of digital resources to teachers.</li>
    <li>To enable the participation  of the community in development and sharing of digital resources.</li>
</ul>       
</div>
<div>
<b>OBJECTIVES</b><br>
<ul style="margin-left:0px;padding-left:12px;">
	<li>To enhance the quality of teaching-learning </li>
    <li>To facilitate teachers to create and share contextualized teaching learning resources </li>
    <li>To celebrate innovations in resource creation </li>
  </ul> 
</div>
 <!--<p><b>TARGET AUDIENCE</b></p>
<p>
<strong>Teachers</strong>:  The repository is primarily for teachers so that they can have access to variety of resources available in different subject areas.   The idea is to introduce teachers to a bouquet of resources and provide them with an opportunity to pick and choose the resources which suits their requirement in classroom transaction. In addition to accessing resources and using them in their classroom, teacher can also create and contribute resources.</p>
<p>
<strong>Teacher Educators:</strong> The repository aims to house various policy documents for example copy of National Curriculum Frameworks, National Focus Group papers on all the subjects and other policy documents which will be helpful for  teacher educators.</p>
 <p>
   <strong>Students/ Parents:</strong> Students can access variety of resources. They should be able to access the resources grade wise, subject wise and language wise.</p>
 <p>
   <strong>Photographers:</strong> Photographs and images which can be mapped to school curriculum are invited. Photographers or any individual who has an access to such photographs/images can contribute to the repository making it relevant for school students and teachers by appropriately tagging them and by providing relevant keywords.</p>
 <p>
   <strong>Producers:</strong> Documentary filmmakers/ audio producers/ video producers who have produced films/ video/ audio programmes can contribute to the repository. Also by having a look at spectrum of content which the repository plans to offer they can create content and contribute.</p>
 <p>
   <strong>Other government and non-government organizations:</strong> As far as e-content is concerned, it is available in abundance. Many organisations have been creating such content for many years. The NROER aims to bring all such organisations on board so that the content created by all these organisations can be mapped to school curriculum and can be made available to teachers and students. </p>
 <p>
<b>ACTIVITIES ON REPOSITORY</b><br>

We would like the users  to engage in the following activities on our website.<br><br>

<strong>Teachers</strong><br>
<ul style="margin-left:0px;padding-left:12px;">
	<li>Access resources with ease; categorised according to subjects and grades/ level/ in multiple languages</li>
    <li> Contribute resources videos, audios, learning objects, multimedia , images &amp; concept maps</li>
    <li>Download and print resources</li>
    <li>Comment and rate resources</li>
    <li> Flip resources</li>
    <li>Participate in forums dedicated to various subjects </li></ul>-->
<h1>National ICT Conference (Launch of NROER)</h1>
<div id="no_hover">
  <ul style="margin-left:0px;padding-left:12px;">
	<li><a href="http://ictschools.gov.in/node/239" target="_blank" >Glimpses of the Conference</a></li>
	<li><a href="http://ictschools.gov.in/sites/default/files/profile/2 Programme for ICT conference_ 31.07.2013 (1).pdf" target="_blank" >Programme Schedule </a></li>
	<li><a target="_blank" href="http://ictschools.gov.in/sites/default/files/profile/ICT Conference 13-14 August 2013 Brief Report.pdf">Proceedings of the Conference</a></li>
	<li><a href="http://ictschools.gov.in/node/202" target="_blank" >Session 1: Inaugural Session and Launching of NROER</a></li>
	<li><a href="http://ictschools.gov.in/node/203" target="_blank" >Session 2: ICT for Education: Exploring the Potential (and Challenges)</a></li>
	<li><a href="http://ictschools.gov.in/node/204" target="_blank" >Session 3: Implementing the National Policy on ICT for School Education in India: Challenges and Issues</a></li>
	<li><a href="http://ictschools.gov.in/node/205" target="_blank" >Session 4: Showcasing ICT Practices- Going Beyond Computer Literacy</a></li>
	<li><a href="http://ictschools.gov.in/node/206" target="_blank" >Session 5: Showcasing ICT Practices- Learning form State / BOOT Partners / NGOs Experiences</a></li>
	<li><a href="http://ictschools.gov.in/node/207" target="_blank" >Session 6: e-Governance Mission Mode Programme in School Education and Closing</a></li>
 </ul> 
</div>
    <h1>NROER Team</h1>
    <p><strong>Core Team</strong></p>
    <table border="1" cellspacing="0" cellpadding="5" width="500px" style="font-size:12px;border-collapse:collapse;">
      <tr>
        <td>Prof. Rajaram Sharma</td>
        <td>Dr. Nagarjuna. G</td>
        <td>Dr. Anubhuti Yadav</td>
      </tr>
    </table>
     <p><strong>Content Development Team</strong></p>
    <table border="1" cellspacing="0" cellpadding="5" width="500px" style="font-size:12px;border-collapse:collapse;">
      <tr>
        <td>Dr. Yash Paul</td>
        <td>Dr. Archana</td>
        <td>Dr. Aerum Khan</td>
      </tr>
      <tr>
      	 <td>Mr. Rakesh Kumar</td>
         <td>Ms. Monica Nagpal</td>
         <td>Ms. Pooja Akshay</td>    
      </tr>
      <tr>
      	 <td>Dr. K. T. Chitralekha</td>
         <td>Prof. Aruna Mohan</td>
         <td>Mr. Jamshed Ur Rehman</td>
      </tr>
    </table>
      <p><strong>Technical Team</strong></p>
      <table border="1" cellspacing="0" cellpadding="5" width="500px" style="font-size:12px;border-collapse:collapse;">
      <tr>
        <td>Ms. Bharti Arya</td>
        <td>Mr. Arun Kumar</td>
        <td>Ms. Sharda Gupta</td>
         <td>Mr. Dhirendra Singh</td>
      </tr>
        <tr>
       
        <td>Ms. Anuja G.</td>
        <td>Mr. Krishna Pal</td>
        <td colspan="2">Ms. Supriya Sawant</td>
      </tr>
    </table>

{% endblock %}
