{% load gstudio_tags %}
{% load tagging_tags comments i18n %}


<script type="text/javascript" >

var availableTags = [];
$.merge(availableTags, {% get_add_tag %})


jQuery(document).ready(function($) { 
$("#tags{{objectid}}").keyup(function(){
data = $("#tags{{objectid}}").val();
var sdata=data.toString();
var loc=sdata.search("/");
if (loc >= 0)
{
  alert("Tag can't contain slashes(/)");
  $("#tags{{objectid}}").focus();
}
});

$(".tag{{objectid}}").click(function(){
data = $("#tags{{objectid}}").val();//attr('value');
var sdata=data.toString();
data=sdata.toLowerCase();
var response_content="Added Tag, Name="+data;
username="{{user.username}}";
var pageid={{objectid}};
$.ajax({
	url: '/gstudio/resources/images/addtag/',
	//type: 'POST',
	data: {objectid:{{objectid}},data:data},
        beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                              },
	success: function(data){
           //alert("Request sent to Admin ");
                $('.tags{{objectid}}').html(data);
			     },
        complete: function(){
                $("#ajax_load_image").hide();
		$("#content").css({"opacity":"",})
		  }

});  
notifyuser(response_content,pageid,username);
$("#tags{{objectid}}").val("");
});

  <!-- for this code a super user can delete tag and normal user send email to admin to delete tag-->
    $(".deletetags").click(function(){ 
          tagname = $(this).attr('value');
          id={{objectid}};
    {% if user.is_superuser %}
     $.ajax({
          url: '/gstudio/resources/images/deletetag/',
          //type: 'POST',
          data: {objectid:{{objectid}},data:tagname},
          success: function(data){
         $('.tags{{objectid}}').html(data);
         }
      });  
    {% else %}
    r = confirm("Do you to send Delet Request");
    if (r==true)
      {
         var response_content = "Request for Delete tag name="+tagname;
         username="{{user.username}}";
         notifyuser(response_content,id,username);		      
         }
    else{}
    {% endif %}
        <!-- end code-->
});
});
function notifyuser(response_content,id,username)
{
	$.ajax({
                url: '/gstudio/ajax/notifyuser/',
                type: 'GET',
                data: {response_content:response_content,pageid:id,username:username},
                beforeSend: function() {
                     $("#ajax_load_image").show();
                     $("#content").css({"opacity":"0.1",})},
	        success: function(data){
                     alert("notification sent to Admin ");},
                complete: function(){
                     $("#ajax_load_image").hide();
		     $("#content").css({"opacity":"",})}
         });  
 }      	
/*
function tagfunction(arr,id){
r = confirm("Do you to send Delet Request");
if (r==true)
  {
tagname = arr;
var response_content = "Request for Delete tag name="+tagname;
username="{{user.username}}";
$.ajax({
	//url: '/gstudio/resources/images/deletetag/',
	//type: 'POST',
	//data: {objectid:id,data:tagname},

        url: '/gstudio/ajax/notifyuser/',
        type: 'GET',
        data: {response_content:response_content,pageid:id,username:username},
        beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                              },
	success: function(data){
                 alert("Request sent to Admin ");
		},
        complete: function(){
                $("#ajax_load_image").hide();
		$("#content").css({"opacity":"",})
		  }
});  
       			      
  }
else
  {
  
  }
}*/
</script>	

<div class="tags{{objectid}}">
       	 <!-- <p class="gbobject-tags span-16 last"> -->
       	   <strong>{% trans "Tags" %}</strong> :
       	   {% tags_for_object viewtag as tag_list %}
       	   {% for tag in tag_list %}
       	   <a href="{% url objectapp_tag_detail tag %}"
              title="Tag {{ tag }}" rel="tag">{{ tag }}</a>

	   {% if user.is_authenticated %}

	   <a class="deletetags" value="{{tag}}" title="delete {{tag}}" ><img src="/static/gstudio/js/orgitdown/orgitdown/sets/org/images/close.jpeg" width = 8px; style="vertical-align: super;"/></a>
	   {% endif %}

   	   {% if not forloop.last %},{% endif %}
       	   {% empty %}
       	   <span>{% trans "No tags" %}</span>
       	   {% endfor %}
<!--       	 </p> -->
       </div>
	{% if user.is_authenticated %}
	<script type="text/javascript" >
	$(document).ready(function(){
        $( "#tags{{objectid}}" ).autocomplete({
            source: availableTags
        });
 	});
	</script>
{% csrf_token %}
       	 <input type="hidden" name="docid" value={{objectid}}>
       	<!-- <input type="text" class="tagtext" value="" name="texttags"  />-->
	<input id="tags{{objectid}}"  class="tagtext" name="texttags">
       	 <input type="button" class="tag{{objectid}}" value="Add Tags" name="addtags" />
	 <br>
	{% endif %}
