{% extends "gstudio/base.html" %}

{% block title %}Patterns in Art{% endblock %}
{% block content %}


<div id="joindots_event" style="position:relative;"><img src="/static/gstudio/img/artpatterns.jpg">
<a style="height: 82px;
    left: 72px;
    position: absolute;
    top: 655px;
    width: 275px;display:block;border-radius:50px;" alt="View Patterns here" title="View patterns here" href="http://nroer.gov.in/gstudio/resources/images/show/45326/"></a>
<a style="height: 82px;
    left: 366px;
    position: absolute;
    top: 655px;
    width: 275px;display:block;border-radius:50px;" alt="Share Patterns" title="Share Patterns" href="http://nroer.gov.in/ContributeResourceForm/"></a>
</div>

{% endblock %}
