{% extends "gstudio/base.html" %}

{% block title %}Capture nature{% endblock %}

{% block content %}
<div>
<div class="event_border">
<div class="event_blue">
<div class="left">
<p class="event_3_heading" >Capture<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nature</p>
<div class="event3_quote">
	<div>"We live in a wonderful world that is full of beauty, charm and adventure. There is no end to the adventures we can have if only we seek them with our eyes open."</div>
        <div class="event3_name">― Jawaharlal Nehru</div>
</div>
</div>
<div class="right"><div class="polaroid"><img alt="Capture the nature" src="/static/gstudio/img/captureinnature.jpg" width="150px" height="140px"></div></div>
<div class="clear"></div>
</div>

<div class="event3_textsize">
 We all get nurtured within the realm of nature. The beauty of nature can never be described or articulated in words, it can only be seen or felt. But a picture is worth a thousand words. So look around you with all your creativity and imaginations and capture its beauty in the form of a photograph and send it to us. Photograph should be original and of maximum resolution. You can send a maximum of three photographs and a description not more than 60-80 words. 
<div align="center" style="margin-top:20px;"><img src="http://nroer.gov.in/static/img/ciet.ncert/capture-nature-image.jpg" width="470px" height="610px"></div>
<div class="blank2"></div>
<div class="left">For sharing resources: <u><a href="/accounts/register/">Register</a></u></div>
<div class="right"><a href="/accounts/login/"><u>Login</u></a></div>
<div class="clear"></div>
</div>
</div>


{% endblock %}
