{% extends "gstudio/base.html" %}

{% block title %}Comment on Resources{% endblock %}

{% block content %}
<div class="event_2" style="height:900px;">

<h1><div class="top_gappings">Comment on Resources</div></h1>
<div class="events_text">
<p>Your suggestions/ comments are always welcomed.<br/><br/>
Please, visit our <a href="/gstudio/resources/images/#divpost"><u>image</u></a>/ <a href="/gstudio/resources/videos/#divpost"><u>video gallery</u></a>/ <a href="/gstudio/resources/documents/#divpost"><u>audio</u></a>/ <a href="/gstudio/resources/documents/#divpost"><u>interactive</u></a>/ <a href="/gstudio/resources/documents/#divpost"><u>documents</u></a> and comment on the available resourses.<br/><br/>
Visit our <a href="/gstudio/page/gnowsys-page/37678/"><u>concept page</u></a> on Mahatma Gandhi and comment.</p>
</div>
</div>



{% endblock %}
