{% extends "gstudio/base.html" %}

{% block title %}Constitution Calling{% endblock %}

{% block content %}
<div id="constitution_event" style="position:relative;"><img width="725px" height="1450px" src="/static/gstudio/img/ConstitutionCalling.jpg">
<a style="position:absolute;top:832px;left:323px;height:40px;width:388PX;display:block;" alt="Share Resources" title="Share Resources" href="/ConstitutionShareResources"></a>

<a style="position:absolute;top:900px;left:323px;height:40px;width:388PX;display:block;" alt="Constitution in My hand" title="Constitution in My hand" href="/MyHand"></a>

<a style="position:absolute;top:965px;left:323px;height:40px;width:388PX;display:block;" alt="Amendments in the Constitution" title="Amendments in the Constitution" href="/Amendment"></a>

<a style="position:absolute;top:832px;left:12px;height:40px;width:307PX;display:block;" alt="Enrich Timeline" title="Enrich Timeline" href="/ConstitutionEnrichTimeline"></a>
  <a style="position:absolute;top:900px;left:12px;height:40px;width:307PX;display:block;" alt="Share Knowledge" title="Share Knowledge" href="/ConstitutionShareKnowledge"></a>
  
<a style="position:absolute;top:965px;left:12px;height:40px;width:307PX;display:block;" alt="My Democratic Classroom" title="My Democratic Classroom" href="/Democratic"></a>
<a style="position:absolute;top:1048px;left:621px;height:20px;width:62PX;display:block;" alt="Login" title="Login" href="http://nroer.gov.in/accounts/login/"></a>
<a style="position:absolute;top:1048px;left:161px;height:20px;width:180PX;display:block;" alt="Register" title="Register" href="http://nroer.gov.in/accounts/register/"></a>

</div>
<!--<div><b>Contribute:</b><br/>
<a href="http://nroer.gov.in/gstudio/resources/images/#divpost">Images</a><br/>
<a href="http://nroer.gov.in/gstudio/resources/videos/#divpost">Videos</a><br/>
<a href="http://nroer.gov.in/gstudio/resources/documents/#divpost">Text</a>
</div>
<p><a href="http://nroer.gov.in/gstudio/page/gnowsys-page/43388/" style="font-size:14px;color:#111;"><b>Resources (Srinivasa Ramanujan)</b></a></p>
-->
{% endblock %}
