{% extends "gstudio/base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contact</h1>
<p>
<strong>Editor</strong> <strong>NROER</strong><br>
Central Institute of Educational Technology (<a href="http://www.ciet.nic.in/">CIET</a>)<br>National Council of Educational Research And Training (<a href="http://www.ncert.nic.in/">NCERT</a>)<br>Sri Aurobindo Marg, New Delhi-110016<br>
<strong>Phone:</strong> 011- 26962580<br>
<strong>Fax:</strong> 011- 26864141<br>
<strong>Email:</strong><a href="mailto:nroer.ciet@gmail.com"> nroer.ciet@gmail.com</a><br></p>
<!--<p>
<strong>Powered by:</strong><br>
<a href="https://github.com/gnowledge/ncert_nroer" target="_blank">Gnowsys-Studio</a>, <a href="http://www.hbcse.tifr.res.in" target="_blank">Homi Bhabha Centre for Science Education</a>, <a href="http://www.tifr.res.in" target="_blank">TIFR</a><br>Mumbai, Maharashtra.</p>-->

<p>
<strong>Platform Development:</strong><br>
Coordinator
Gnowledge lab, <a href="http://www.hbcse.tifr.res.in" target="_blank">Homi Bhabha Centre for Science Education</a>, <a href="http://www.tifr.res.in" target="_blank">TIFR</a><br>
V.N. Purav Marg, Mankhurd Mumbai 400088</br>
<strong>Phone:</strong> 022 2507 2224</br>
<strong>Fax:</strong> 022 2558 5660</br>
<strong>Email:</strong><a href="mailto:lab@gnowledge.org"> lab@gnowledge.org</a></br>
</p>
<p><strong>Under Secretary</strong><br>Department of School Education and Literacy<br>Ministry of Human Resources Development<br>Shastri Bhawan New Delhi  110001<br>
<strong>Phone:</strong> 91-11-23384501<br>
<strong>Fax:</strong> 011-23381270<br>
<strong>Email:</strong><a href="mailto:nagus.edu@nic.in"> nagus.edu@nic.in</a><br></p>
{% endblock %}
