{% extends "gstudio/base.html" %}
{% load i18n mptt_tags %}

{% block meta-description %}{% trans "Metatype list" %}{% endblock %}

{% block title %}{% trans "Contribute Resources" %}{% endblock %}

{% block content %}


{% if not user.is_authenticated %}

<script type="text/javascript">
function message()
{
alert("Please login to continue");

}
</script>

<div>

<div align="center">
<img src="http://nroer.gov.in/static/img/ciet.ncert/new_poster_final_1_24_sep_2013.jpg" width="725px" height="1437px" border="0" usemap="#Map">
<map name="Map" id="Map">
	 <area shape="rect" coords="130,667,630,711" alt="Enrich Timeline" onClick="message()"/>
	<area shape="rect" coords="131,742,629,782" alt="Share Knowledge" onClick="message()"/>
	<area shape="rect" coords="140,820,627,857" alt="Share Resources" onClick="message()"/>
	<area shape="rect" coords="134,893,624,930" alt="Comment on Resources" onClick="message()"/>
	<area shape="rect" coords="31,947,281,970" href="/accounts/register/" alt="New User Please Register" />
	<area shape="rect" coords="50,1021,995,1058" href="http://nroer.metastudio.org/gstudio/resources/videos/show/41210/" alt="New User Please Register" target="_blank"/>
        <area shape="rect" coords="512,947,700,970" href="/accounts/login/" alt="Existing User Login" />
<area shape="rect" coords="63,1063,685,1094" href="/accounts/register/" alt="New User Please Register" />
</map>
</div>
</div>

{% else %}
<div>

<div align="center">
<img src="http://nroer.gov.in/static/img/ciet.ncert/new_poster_final_1_24_sep_2013.jpg" width="725px" height="1437px" border="0" usemap="#Map">
<map name="Map" id="Map">
	 <area shape="rect" coords="130,667,630,711" href="/EnrichTimeline" alt="Enrich Timeline"/>
	<area shape="rect" coords="131,742,629,782" href="/ShareKnowledge" alt="Share Knowledge"/>
	<area shape="rect" coords="140,820,627,857" href="/ShareResources" alt="Share Resources"/>
	<area shape="rect" coords="134,893,624,930" href="/CommentOnResources" alt="Comment on Resources"/>
<area shape="rect" coords="50,1021,995,1058" href="http://nroer.metastudio.org/gstudio/resources/videos/show/41210/" alt="New User Please Register" target="_blank"/>
</map>
</div>
</div>

{% endif %}


{% endblock %}
