{% extends "gstudio/base.html" %}

{% block title %}Contribute{% endblock %}

{% block content %}
<h1>Contribute Resource</h1>
<p>Any of the educational resources under the following categories that supplements or enriches the school curriculum. The idea is to provide scope for value addition to various subjects offered at the school level.
<ul>
<li><a href="/gstudio/resources/images/#divpost">Images/Graphics</a></li>
<li><a href="/gstudio/resources/videos/#divpost">Video</a></li>
<li><a href="/gstudio/resources/documents/#divpost">Audio</a></li>
<li><a href="/gstudio/resources/documents/#divpost">Interactive</a></li>
<li><a href="/gstudio/resources/documents/#divpost">Documents</a></li>
</ul>
</p>
<p>For the contribution of resources other than the above mentioned resources write to<br/>

<a href="mailto:nroer.ciet@gmail.com">nroer.ciet@gmail.com</a></p>
<!--
<form >
  <label class="label_gap">Title</label>
 <input type="text" />
  <label class="label_gap">Description </label>
  <textarea rows="5" cols="30" ></textarea>
  <label class="label_gap">Tags</label>
 <input type="text">
  <label class="label_gap">Upload Content  </label>
<input type="file"><br/>
<input type="submit" value="Upload">
 <p>&nbsp;</p>
<p><b>About Contributer</b></p>
 <label class="label_gap">Name</label>
 <input type="text" />
<label class="label_gap">Email id</label>
 <input type="text" />
<br/>
<input type="submit" value="Submit">
<p>
<p>&nbsp;</p>-->
Note:
<ul>
<li> ensure that you are agreeing to host the resources under a Creative Commons license.</li>
<li>ensure that the documents uploaded are encoded using non-proprietary, open standards.</li>
</ul>
</p>

{% endblock %}
