{% extends "gstudio/base.html" %}

{% block title %}Discover Patterns{% endblock %}
{% block content %}


<div id="joindots_event" style="position:relative;"><img src="/static/gstudio/img/discoverpatterns.jpg">
<a style="position:absolute;top:1007px;left:18px;height:127px;width:127px;display:block;border-radius: 50%/50%;" alt="Patterns in Nature" title="Patterns in Nature" href="/NaturePatterns"></a>
<a style="position:absolute;top:1007px;left:159px;height:127px;width:127px;display:block;border-radius: 50%/50%;" alt="Patterns in Art" title="Patterns in Art" href="/ArtPatterns"></a>
<a style="position:absolute;top:1007px;left:300px;height:127px;width:127px;display:block;border-radius: 50%/50%;" alt="Tangram" title="Tangram" href="/Tangram"></a>
<a style="position:absolute;top:1007px;left:441px;height:127px;width:126px;display:block;border-radius: 50%/50%;"  alt="Turtle Art" title="Turtle Art" href="/TurtleArt"></a>
<a style="position:absolute;top:1007px;left:583px;height:127px;width:126px;display:block;border-radius: 50%/50%;" alt="Share Creativity" title="Share Creativity" href="/ShareCreativity"></a>

</div>

{% endblock %}
