{% extends "gstudio/base.html" %}
{% load pagination_tags %}
{% load adminmedia grp_tags %}
{% load i18n comments gstudio_tags %}
{% load i18n objectapp_tags %}
 {% block title %}Documents{% endblock %}
{% block content %}
{% load tagging_tags comments i18n %}
<script src="{% admin_media_prefix %}jquery/jquery-1.6.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/org/set.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/jquery.orgitdown.js"></script>

<script type="text/javascript" >
jQuery(document).ready(function($) {
$(".deldoccolln").click(function(){
        var obid = this.id;
        r = confirm("Please confirm delete ")
        if (r==true)
        {
         $("#lstBox2").empty();
         $("#doccolname").val("");
        $.ajax({
        url: '/gstudio/ajax/deletedoccolln/',
        data: {obid:obid},
        beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                      },
        success: function(data){
                $('#docucollections').html(data);
                     },
        complete: function(){
                $("#ajax_load_image").hide();
                $("#content").css({"opacity":"",})
                  }
});

  }
});
$("#lstdocvalue").click(function(){
        $("#coll").show();
        $("#coll").css({"margin-top":"40px","display":""});
        $(".addtoimgdrawer").css({"display":""});
        $("#docucollections").css({"position":"absolute","margin-top":"-15px"})
        $("#lowerdiv").css({"position":"relative","margin-top":"5px"})
        var arr=[];
        var arr1=[];
        $("#collectionimg").hide();
        opts = lstBox2.options, len = opts.length;
        if (len == 0) {
                   arr=[];
                   arr1=[];

        }
        else{
                   arr1=[];
                   for (var i = 0; i < len; i++)
                   {
                           arr[i] = "'"+opts[i].value+"'";
                           arr1[i]=opts[i].id;
                   }
         }
         var abc1=arr1.join(',');
         if (abc1) {
                            var abc=abc1;

         }
         else {
                           var abc=null;
         }

         var listofcollns=abc
         var colid=""
         coltitle=""
         var coltitle=document.getElementById("doccolname").value;
         alert(coltitle);
         if (coltitle == ""){alert("Please type collection name");
                      $("#doccolname").focus();}
         else{
                             $("#lstBox2").empty()
                             $("#doccolname").val("");
                             $.ajax({
                              url: '/gstudio/resources/docu/createcolln/',
                              data:{'listofcollns':abc,'coltitle':coltitle,'editcoln':0,'colid':colid},

                              success: function(data) {
                              $("#docucollections").html(data);
                              },

       });}

    });
})

var isVideotitle=false;
$(window).load(function() {
$("#content").css({
"width": "600px",});});
$(window).load(function() {
$("#chart").hide();});
$(window).load(function() {
$("#graphcss").hide();   
});
var i = 0;

jQuery(document).ready(function($) {
      
    $("#commenteditor").click(function(){
	isImage=true;
	$(this).replaceWith('<textarea id="gnoweditor" style="visibility:hidden;width:450px"></textarea>');
        document.getElementById('gnoweditor').style.visibility="visible";
        $("#gnoweditor").orgitdown(mySettings);
	<!--document.getElementById('descriptionsave').style.visibility="visible";-->
        $(".orgitdownContainer").css({"margin-top":"0px","margin-left":"10px"});
	$("#submitpostid").hide();//css({"margin-left":"400px","margin-top":"-38px"});
	$("#commenteditor").hide();
		
	});
     $("#descriptionsave").click(function(){
            var org_data = $("#gnoweditor").val();     
	    var encode_data = encodeURIComponent(org_data);
	    var decode_data = decodeURIComponent(encode_data.replace(/\+/g, " "));  
 	    $("#descriptioncommenttext").val(decode_data);
	    $(".orgitdownContainer").hide();
	    $("#submitpostid").css({"margin-left":"0px","margin-top":"0px"});
	    $("#divpost b").text(decode_data); 
	    $("#editcommenteditor").show();
	    $("#submitpostid").show();
	   
	});

     $("#editcommenteditor").click(function(){
	$('.orgitdownContainer').show();
	$("#editcommenteditor").hide();
	$("#submitpostid").hide();
	});
});
jQuery(document).ready(function($) {
    $(".doceditcontent").click(function(){
	isEditdoc=true;
	$(this).replaceWith('<textarea id="gnoweditoredit" style="visibility:hidden;width:450px"></textarea>');
	var a = $(this).attr("id");
	objid=a;
        document.getElementById('gnoweditoredit').style.visibility="visible";
	 $("#gnoweditoredit").val($("#editortext"+a).val());
        $("#gnoweditoredit").orgitdown(mySettings);
        //var screentop=$(document).scrollTop();
        $(".orgitdownContainer").css({"margin-top":"0px","margin-left":"10px"});
        //$(".orgitdownContainer").css({"margin-top":screentop,});
<!--	document.getElementById('save'+a).style.visibility="visible";-->
	$("#"+a).hide();
	});
     $("#editsavedoc").click(function(){
	    alert("ineditdave");
            var org_data = $("#gnoweditoredit").val(); 
	    var encode_data = encodeURIComponent(org_data);
	    var decode_data = decodeURIComponent(encode_data.replace(/\+/g, " "));     
 	    $(".commenttext").val(decode_data);
            $(".orgitdownContainer").hide();
	    $(".commentsavecontent").trigger('click');
	    });

	$("#submitpostid").click(function(){
            var filename=$("#inputfile").val();
            if (filename.substr(-4)==".mp3")
              {
                 alert("You are uploading mp3 file that is proprietary audio file. We  convert your file to  ogg file formate. for faster upload please upload ogg file.");
              }

         
       });

});


var availableTags = [];
$.merge(availableTags, {% get_add_tag %})
$( "#tags{{document.id}}" ).autocomplete({
            source: availableTags
        });


</script>
<style type="text/css">
#divsearch
{
position:absolute;
}
#upperdiv
{
position:relative;
margin-bottom:35%;
}
#divpost
{
position:absolute;
margin-left:52%;
}
</style> 

{% autopaginate documents 8 %}
<h2 style="">Document/Audio/Interactive object  Library</h2>
<br>
<div id="upperdiv">

<div id="divsearch">
<form method="post" action="">
{% csrf_token %}
<br/>
<h4 style="color: black;">Search File</h4>
<input type="text" name="sdoc" value={{val}}>&nbsp;
<br/>
<br/>
<select name="mydropdown" style="margin:0">
<option value="title">Title</option>
<option value="creation_date">Creation Date</option>
</select>
<br/>
<br/>
<input type="submit" value="Search">
</form>
{% if user.is_authenticated %}
<br/>
<form method="post" action="/gstudio/resources/documents">
{% csrf_token %}
<input type="hidden" name="user" value={{user.username}}>
<input type="submit" name="fav" value="View Favourites">
</form>
{% endif %}
</div>
{% if user.is_authenticated %}
<div id="divpost">
<form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
<br/>
<h4 style="color: black;">Post File:</h4>
<font size="2">Title:</font>&nbsp; <input type="text" name="title1"><br/>
<font size="2">File:</font>&nbsp;&nbsp;&nbsp;<input id="inputfile" type=file name="doc[]" multiple="multiple" /><br><br>
Description:&nbsp;&nbsp;<b></b>
<input type="button"  id="editcommenteditor"  value="edit" style="display:none" >
<input type="button"  id="commenteditor"  value="Add Content" >
<input type="button" class="commentsavecontent" id="descriptionsave" value="Save" style="visibility:hidden" />
<input type=text name="contenttext" id="descriptioncommenttext" style="visibility:hidden" />
<input type="hidden" name="user" value={{user.username}}><br><br>
<input type="submit" id="submitpostid" value="Post">
</form>
</div>
{% endif %}
</div>
<div id="docucollections">
{% get_document_collections as col%}
{% if col %}
<font size="4" color="black">Document Collection</font><br/>
{% for key,value in col.items %}
<a href="/gstudio/resources/documents/show/{{key}}/">{{value}}&nbsp;;</a>
{% if user.is_authenticated %}
<a class="deldoccolln" id="{{key}}" value="{{key}}" title="delete {{value}}">
<img src="/static/gstudio/js/orgitdown/orgitdown/sets/org/images/close.jpeg" width = 8px; style="vertical-align: super;"/>
</a>
{% endif %}

{% endfor %}
{% endif %}
</div>


<div id="coll">

<br/>
<br/>


                        {% if user.is_authenticated %}

                            <input type="button" class="addtoimgdrawer" value="Create Collection" name="addtodrawer"/>

                        {% endif %}


</div>
<div id="collectionimg" style="display:none;">
  <b>Collection Name:</b>
        <input type="text" id="doccolname" value=""><br/>
	<table  id="drawertable" >
         <tr>
         <td style='width:160px;'>
                 <b>Pages:<input type="text" id="collectionsearch" value=""></b><br/>
                  <select multiple="multiple" id='lstBox1' class="selectOptionCollection">
                  {% for key,value in test1.items %}
                    <option id={{key}}>{{value}}</option>

		              {% endfor %}

                    </select>
         </td>
         <td style='width:50px;text-align:center;vertical-align:middle;'>
       <input type='button' id='btnUp' value ='  ^  '/><br/>
       <input type='button' id='btnRight' value ='  >  '/><br/>
       <input type='button' id='btnLeft' value ='  <  '/><br/>
       <input type='button' id='btnDown' value ='  v  '/><br/>

    </td>
    <td style='width:160px;'>
        <b>Added to Drawer: </b><br/>
        <select multiple="multiple" name="lstb2" id='lstBox2' class="selectOptionCollection">
          {% for each in test %}
             <option id={{each.id}}>{{each.title}}</a></option>
          {% endfor %}
  </option>
</select>
    </td><br>
    </tr>
 <tr>
    <td>

      <input type="button"  value="Reset" id="resetdrawer"/>
      <input type="button"  value="Submit" id="lstdocvalue"/>
      <input type="button"  value="Cancel" id="cancel"/>

 </td>

</tr>
</table>
</div>

 <input id="drawer"   name="texttags" style="visibility:hidden">

 <input type="button" id="showcollection" value="Show Drawer" style="visibility:hidden"/>

<br>
<br>
<br>
<br>
<div id="lowerdiv">
{% if fav %}
<h2 style="">Favourite Documents</h2><br/>
{% else %}
<h4 style="">Documents Listing</h4>
{% endif %}

{% if reportid %}
<h2><font color="red">this document is already uploaded on this site</font></h2>
<a href="/gstudio/resources/documents/show/{{ reportid }}/"> <font size="4">to see this image click here</font></a><br/><br/><br/>
{% endif %}


{% for document in documents %}

    <div class="gbobject-content">
     <!-- {{ object_content }}-->
    </div>
<form method="post" action="">{% csrf_token %}
<h2><a href="/gstudio/resources/documents/show/{{document.id}}" title="{{document.title}}">{{document.title}}</a>
</h2>
<font color = 'black'>Posted By : </font>
{% for author in document.authors.all %}
  <font >{{author}}</font>
{% endfor %}
<br>
<font color = 'black'>Posted At : </font><font >{{document.creation_date}}</font>
<br>
<font color = 'black'>Description:</font><font >
{%autoescape on%}
{% with document.html_content|safe as document_content %}
     {{document_content}}
{% endwith %}
{% endautoescape%}</font>
{% if user.is_authenticated %}
<input type="hidden" name="docid" value={{document.id}}>
<!--<input type="button" class="doceditcontent" id="{{document.id}}"  value="Edit"/>
<input type="button" id="editsavedoc" style="visibility:hidden" />
<input type="hidden" name="commenttext" class="commenttext" id="commenttext{{document.id}}" style="visibility:hidden" />
<input type="hidden" id="editortext{{document.id}}" style="visibility:hidden" value="{{document.content_org}}">
<input type="submit" class="commentsavecontent"  value="Save" style="visibility:hidden" />-->
{% endif %}
</form>
<br>
<font color = 'black'>Download: </font><a href="{% admin_media_prefix %}img/{{document.altnames}}">Click to download!!</a>
<br>
{% for author in document.authors.all %}
	{% ifequal author.username user.username %} 
<form method="post" action="" onclick="return makesure();">
{% csrf_token %}
<input type="hidden" name="dn" value={{document.id}}>
<input type="submit" name="delete" value="Delete">
</form>
<script type="text/javascript">
 function makesure() {
  if (confirm('Are you sure you want to delete this file?')) {
    return true;
  }
  else {
    return false;
  }
 }
	{% endifequal %}
{% endfor %}
</script>
<br>
{% ifequal document.rating.get_rating 0 %}

<font color = 'black'>Current rating is: &nbsp;<font > No rating yet </font></font>
{% else %}
<font color = 'black'>Average Current rating is: </font><h4>{{ document.rating.get_rating }}</h4>
<font color = 'black'>Total Number of votes is:  &nbsp;<font ><b>{{ document.rating_votes }}</b></font> </font>
{% endifequal %}
<br>
{% if user.is_authenticated %}
<form method="post" action="">
{% csrf_token %}
<input name="star1" type="radio" value=1 class="star"/>
<input name="star1" type="radio" value=2 class="star"/>
<input name="star1" type="radio" value=3 class="star"/>
<input name="star1" type="radio" value=4 class="star"/>
<input name="star1" type="radio" value=5 class="star"/>
</br>
<input type="hidden" name="docid" value={{document.id}}>
<input type="submit" value="Rate it!!!">
</form><br>
{% endif %}

<br>
<div class="tags">
    <p class="gbobject-tags span-16 last">
      <strong>{% trans "Tags" %}</strong> :
      {% tags_for_object document as tag_list %}
      {% for tag in tag_list %}
      <a href="{% url objectapp_tag_detail tag %}"
         title="Tag {{ tag }}" rel="tag">{{ tag }}</a>
      {% empty %}
      <span>{% trans "No tags" %}</span>
      {% endfor %}
    </p>
</div>
<br/>
{% if user.is_authenticated %}
<form method="post" action="">{% csrf_token %}
<input type="hidden" name="docid" value={{document.id}}>
<input id="tags{{document.id}}" name="texttags">
<input type="submit" value="Add Tags" name="addtags" />
</form>
<br/>
{% endif %}
<hr width="100%" style="height:5px;" color="black"/>
<br>
{% endfor %}<br>



 
 <h2>
{% paginate %}</h2>

</div>



{% endblock %}

{% block graph %}
{% endblock %}

