{% extends "gstudio/base.html" %}

{% block title %}Enrich Timeline{% endblock %}

{% block content %}
<div class="event_2">

<h1><div class="top_gappings">Enrich Timeline</div></h1>
<div class="events_text">
<p>
The timeline given below captures lifespan of Mahatma Gandhi through chronological events. Share and discuss these events in your classroom. You can also enrich this timeline by adding/sharing any related information, in the format attached on this page. Your suggestions are always welcomed at <a href="mailto:nroer.ciet@gmail.com"><u>nroer.ciet@gmail.com</u></a>
</p>
<p><b>Or you can post us at :--</b><br/><br/>

To<br/>

The Joint Director CIET<br/>

Central Institute of Educational Technology (CIET)<br/>

National Council of Educational Research and Training<br/>

Sri Aurbindo Marg,<br/>

New Delhi, 110016.<br/><br/>

Please subscribe on the top of the envelop <b>“A Tribute to Mahatma”</b>.</p>
<div class="blank2"></div>
<div class="left"><img class="mhrd-logo" alt="MHRD" src="/static/gstudio/img/home/timeline copy.jpg"></div>
<div class="right" style="position:relative;"><div id="box"><b>Download Timeline</b><br/><b>Download form to enrich Timeline</b></div></div>
<div class="clear"></div>
</div>
</div>
{% endblock %}
