{% extends "gstudio/base.html" %}
{% load adminmedia grp_tags %}
{% load i18n comments gstudio_tags %} 
{% load tagging_tags comments i18n %}
 {% block title %}{{ image.title }}{% endblock %}
{% block content %}

<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/org/set.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/savedata.js"></script>
<script type="text/javascript" src="/static/gstudio/js/home/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/jquery.orgitdown.js"></script>
<!-- include  carouFredSel plugin -->
<script type="text/javascript" language="javascript" src="/static/gstudio/js/jquery.carouFredSel-6.2.1-packed.js"></script>


<style type="text/css">
.image_carousel {
padding: 15px 0 15px 40px;
position: relative;
}
.image_carousel img {
border: 1px solid #ccc;
background-color: white;
padding: 9px;
margin: 7px;
display: block;
float: left;
}
a.prev, a.next {
background: url(/static/gstudio/img/miscellaneous_sprite.png) no-repeat transparent;
width: 45px;
height: 50px;
display: block;
position: absolute;
top: 85px;
}
a.prev {left: -22px;
background-position: 0 0; }
a.prev:hover {background-position: 0 -50px; }
a.prev.disabled {background-position: 0 -100px !important;  }
a.next {right: -22px;
background-position: -50px 0; }
a.next:hover {background-position: -50px -50px; }
a.next.disabled {background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
cursor: default;
}

a.prev span, a.next span {
display: none;
}
.pagination {
text-align: center;
}
.pagination a {
background: url(/static/gstudio/img/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
width: 15px;
height: 15px;
margin: 0 5px 0 0;
display: inline-block;
}
.pagination a.selected {
background-position: -25px -300px;
cursor: default;
}
.pagination a span {
display: none;
}
.clearfix {
float: none;
clear: both;
}


</style>
<script type="text/javascript" >
<!-- function notifyeditimg(pageid,username) -->
<!-- { -->
<!-- alert("inside fn"); -->
<!-- var response_content = "Edited Imagecontent" -->
<!-- var pageid={{image.id}} -->
<!-- $.ajax({ -->
<!--         url: '/gstudio/ajax/notifyuser/', -->
<!--         type: 'GET', -->
<!--         data: {response_content:response_content,pageid:pageid,username:username}, -->
<!--         beforeSend: function() { -->
<!--               alert("bef send"); -->
<!--               $("#ajax_load_image").show(); -->
<!--               $("#content").css({"opacity":"0.1",}) -->
<!--                               }, -->
<!--         success: function(data){ -->
<!--                 alert("Edit notification send"); -->
<!--                 var org_data = $("#gnoweditor").val();        -->
<!-- 	        var encode_data = encodeURIComponent(org_data); -->
<!-- 	        var decode_data = decodeURIComponent(encode_data.replace(/\+/g, " ")); -->
<!--  	        $("#commenttext").val(decode_data); -->
<!-- 	        $(".orgitdownContainer").hide(); -->




<!--                 }, -->
<!--         complete: function(){ -->
<!-- 				    $("#ajax_load_image").hide(); -->
<!--                 } -->
<!--  }); -->
<!-- } -->

     $(window).load(function() {

   
      $("#content").css({
    "width": "600px",});
	$("img").css({"max-width":"725px",})
	});
var editImage=false;
jQuery(document).ready(function($) {
    $("#editcontent").click(function(){
        $(this).replaceWith('<textarea id="gnoweditor" style="visibility:hidden;width:450px"></textarea>');
        editImage=true;
        document.getElementById('gnoweditor').style.visibility="visible";
	 $("#gnoweditor").val($("#editortext").val());
        $("#gnoweditor").orgitdown(mySettings);
        $(".orgitdownContainer").css({"margin-top":"0px","margin-left":"10px"});
	$("#content img").css({"max-width":"600px",})
	<!--document.getElementById('save').style.visibility="visible";-->
	$("#editcontent").hide();
		
	});
     $("#save").click(function(){
            var org_data = $("#gnoweditor").val();    
            var encode_data = encodeURIComponent(org_data);
 	        var decode_data = decodeURIComponent(encode_data.replace(/\+/g, " ")); 
  	        $("#commenttext").val(decode_data); 
 	        $(".orgitdownContainer").hide(); 

            			   
	});

	
});

$(document).ready(function(){
       var availableTags = [];
	$.merge(availableTags, {% get_add_tag %})
       $( "#tags1" ).autocomplete({
            source: availableTags
        });

 });

</script>

<link rel="shortcut icon" href="{{ STATIC_URL }}gstudio/img/favicon.ico" />
<h1><font id="fonttitleid" ><b>{{image.title}}</b></font></h1>



{% if request.user.is_superuser %}
{% edit_title image.id image.title %}
{% public_private image.id image.status %}
{% endif %}

<div class="blank2"></div>
<!--
<div class="right">

{% get_related_images image.id as related_images %}

{% if related_images %}
<div id="extra_info">
<div class="side_heading">Related Images</div>
<div class="thumbnail_info">
{% for valim in related_images %}

                   <a  class="preview" title="{{valim.title}}" href="/gstudio/resources/images/show/{{valim.id}}"><img src="{% admin_media_prefix %}img/{{valim.ref.image|cut:'.jpg'|cut:'.png'|cut:'.JPG'|cut:'.JPEG'|cut:'.jpeg'|cut:'.svg'|cut:'.tif'|cut:'.gif'|cut:'.ogv'}}-thumbnail"></a>

{% endfor %}
</div>

</div>

{% endif %}

</div>


-->
<div id="final_content">


<a href="{% admin_media_prefix %}img/{{image.image}}">
<img src="{% admin_media_prefix %}img/{{image.image|cut:'.jpg'|cut:'.png'|cut:'.JPG'|cut:'.JPEG'|cut:'.jpeg'|cut:'.svg'|cut:'.tif'|cut:'.gif'|cut:'.ogv'}}_display_1024" width="500px"></a>

<br/>

<!--<font color = 'black'>Posted By : </font>
{% for author in image.authors.all %}
  <font >{{author}}</font>
{% endfor %}
<br>

<font color = 'black'>Posted At : </font><font >{{image.creation_date}}</font>
<br/>-->
<font color = 'black'>Description:</font>
{% autoescape on %}
{% with image.html_content|safe as image_content %}
     {{image_content}}
{% endwith %}
{% endautoescape%}


<form method="POST" action="">
{% csrf_token %}
{% if user.is_superuser %}
<input type="hidden" name="imgid" value={{image.id}}>
<input type="button" id="editcontent" value="Edit"/>

<input type="submit" class="commentsavecontent" id="save" value="Save" style="visibility:hidden" />
<input type="hidden" name="contenttext" id="commenttext" style="visibility:hidden" />
<input type="hidden" id="editortext" style="visibility:hidden" value="{{image.content_org}}">
{% endif %}
</form>

<br/>
<div id="imgcolln">

{% check_if_collection image.id as colln %}

{% if colln %}

{% show_image_collections image.id as imgcolln %}

{% if imgcolln %}


<font size="3">Images in this Album:</font></a><br/>
<div class="image_carousel">

    <div id="foo2">
      
      {% for each in imgcolln %}
 <a href="{{image.get_album_url}}">

      <img src="{% admin_media_prefix %}img/{{each.image|cut:'.jpg'|cut:'.png'|cut:'.JPG'|cut:'.JPEG'|cut:'.jpeg'|cut:'.svg'|cut:'.tif'|cut:'.gif'|cut:'.ogv'}}-thumbnail"> </a>
      {% endfor %}

      </div> 
    <div class="clearfix"></div>
    <a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
    <a class="next" id="foo2_next" href="#"><span>next</span></a>
    <div class="pagination" id="foo2_pag"></div>
</div>


<br/>

{% show_edit_collection image.id user%}

{% endif %}
{% endif %}

</div>




<br/>
{% ifequal image.rating.get_rating 0 %}

<font color = 'black'>Current rating is: &nbsp;<font > No rating yet </font></font>
{% else %}
<font color = 'black'>Average Current rating is: &nbsp; <font > {{ image.rating.get_rating }} </font></font><br/>
<font color = 'black'>Total Number of votes is:  &nbsp;<font ><b>{{ image.rating_votes }}</b></font> </font>
{% endifequal %}
<br>
{% if user.is_authenticated %}
<form method="post" action="">
{% csrf_token %}
<input name="star1" type="radio" value=1 class="star"/>
<input name="star1" type="radio" value=2 class="star"/>
<input name="star1" type="radio" value=3 class="star"/>
<input name="star1" type="radio" value=4 class="star"/>
<input name="star1" type="radio" value=5 class="star"/>
</br>
<input type="hidden" name="imgid" value={{image.id}}>
<input type="submit" value="Rate it!!!">
</form>
<br/>

<form method="post" action="">
{% csrf_token %}

<input type="hidden" name="favusr" id="username" value={{user.username}}>
{% if relation %}
<input type="hidden" name="removefavid" id="imageid" value={{image.id}}>
<input type="submit" value="Remove from favourites">
{% else %}
<input type="hidden" name="favid" value={{image.id}}>
<input type="submit" value="Add to favourites">
{% endif %}
</form>
{% endif %}
<br>
<script type="text/javascript" src="/static/gstudio/js/jquery-ui.js" ></script>

<!--script for scrollable image collection!-->
<script type="text/javascript">
$("#foo2").carouFredSel({
circular: false,
infinite: false,
auto : false,
prev: {
button: "#foo2_prev",
key: "left"
},
next: { 
button: "#foo2_next",
key: "right"
},
pagination: "#foo2_pag"
});

</script>


<!--ADDING AND DISPLAY TAG-->
	{% addtag image image.id user %}

{% block nodetype-comments %}
<div id="comments" class="">
  <h5>{% trans "Comments" %}</h5>
  {% with image.comments as comment_list %}
  {% if comment_list.count %}
  <ol id="comment-list" class="span-15 last">
    {% for comment in comment_list %}
    <li id="comment_{{ comment.pk }}" class="comment vcard {% cycle box1,box2 %}{% if comment.user in image.authors.all %} post-author{% endif %} span-15 last">
      <div class="span-2">
	<img src="{% get_gravatar comment.email 60 "G" %}" class="gravatar photo" alt="{{ comment.user_name }}"/>
      </div>
      <div class="comment-body span-13 last">
	<div class="comment-author span-13 last">
	  {% if comment.url %}
	  <a href="{{ comment.url }}" class="fn url" title = "{{ comment.user_name }}">{{ comment.user_name }}</a>
	  {% else %}
	  {{ comment.user_name }}
	  {% endif %}
	  {% trans "on" %} {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}
	</div>
	<div class="span-13 last">
	  {{ comment.comment|linebreaks }}
	</div>
      </div>
    </li>
    {% endfor %}
  </ol>
    {% if not image.comments_are_open %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if image.comments_are_open %}
  <p>{% trans "No comments yet." %}</p>
    {% else %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% endif %}
  {% endwith %}
</div>
{% endblock %}

{% if user.is_authenticated %}
<div class="commentForm span-16 last">
  {% render_comment_form for image %}
</div>
{% endif %}


<br>
<hr width="100%" style="height:5px;" color="black"/>
<br>

{% endblock %}
{% block graph %}
{% endblock %}
</div>
<div class="clear"></div>













