{% extends "gstudio/base.html" %}
{% load adminmedia grp_tags %}
{% load i18n comments gstudio_tags %} 
{% load tagging_tags comments i18n %}
 {% block title %}{{ doc.title }}{% endblock %}
{% block content %}


<script type="text/javascript" src="/static/gstudio/js/jquery.min.js" ></script>
<script type="text/javascript" src="/static/gstudio/js/jquery-ui.js" ></script>
<script type="text/javascript" src="/static/gstudio/js/underscore.js" ></script>
	<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/org/set.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/savedata.js"></script>
	 <script type="text/javascript" src="/static/gstudio/js/home/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/jquery.orgitdown.js"></script>
    <script type="text/javascript" >
      $(window).load(function() {
      $("#content").css({
    "width": "600px",});});
$(window).load(function() {
 $("#chart").hide();});
$(window).load(function() {
 
 $("#graphcss").hide();   
  });
jQuery(document).ready(function($) {
    $("#editcontent").click(function(){
        $(this).replaceWith('<textarea id="gnoweditor" style="visibility:hidden;width:450px"></textarea>');
        isImage=true;
        document.getElementById('gnoweditor').style.visibility="visible";
        $("#gnoweditor").val($("#editortext").val());
	$("#content img").css({"max-width":"600px",});
        $("#gnoweditor").orgitdown(mySettings);
        $(".orgitdownContainer").css({"margin-top":"0px","margin-left":"10px"});
	<!--document.getElementById('save').style.visibility="visible";-->
	$("#editcontent").hide();
		
	});
     $("#save").click(function(){
            var org_data = $("#gnoweditor").val();       
	    var encode_data = encodeURIComponent(org_data);
	    var decode_data = decodeURIComponent(encode_data.replace(/\+/g, " "));
 	    $("#commenttext").val(decode_data);
	    $(".orgitdownContainer").hide();
			   
	});

});
</script>
</script>

<link rel="shortcut icon" href="{{ STATIC_URL }}gstudio/img/favicon.ico" />


<br/>

<h2><font id="fonttitleid" >{{doc.title}}</font></h2>
{% if user.is_authenticated %}
{% edit_title doc.id doc.title %}
{% endif %}
<br/>
<font color = 'black'>Posted By : </font>
{% for author in doc.authors.all %}
  <font >{{author}}</font>
{% endfor %}
<br>
{% check_if_collection doc.id as colln %}

<font color = 'black'>Posted At : </font><font >{{doc.creation_date}}</font>
<br/>
<font color = 'black'>Download: </font><a href="{% admin_media_prefix %}img/{{doc.altnames}}">Click to download!!</a>
<br>
<font color = 'black'>Description:</font>
{%autoescape on%}
{% with doc.html_content|safe as doc_content %}
     {{doc_content}}
{% endwith %}
{% endautoescape%}





{% if user.is_authenticated %}
<form method="post" action="">{% csrf_token %}
<input type="hidden" name="docid" value={{doc.id}}>
<input type="button" id="editcontent" value="Edit"/>

<input type="submit" class="commentsavecontent" id="save" value="Save" style="visibility:hidden" />
<input type="hidden" name="contenttext" id="commenttext" style="visibility:hidden" />
<input type="hidden" id="editortext" style="visibility:hidden" value="{{doc.content_org}}">
</form>
{% endif %}

<div id="doccolln">

{% if colln %}
{% show_doc_collections doc.id as doccolln %}

{% if doccolln %}
<font size="3">Documents in this collection:</font><br/>
{% endif %}
  {% for vals in doccolln %}
         <li class="list"><abbr title="Collection"><img src="/static/gstudio/js/orgitdown/orgitdown/sets/org/images/doc.png"></abbr><a href=
"{{vals.get_view_object_url}}">{{vals.title}}</a><img src="{% admin_media_prefix %}img/{{vals.thumb}}-thumbnail" crop="center" quality="90" \
style
="none"><br/>
  {% endfor %}
<br/>

{% show_edit_doc_collection doc.id user %}
{% endif %}

<br/>
{% if colln %}
{% get_doc_download doc.id as dwn %}
{% if dwn %}
<a href="/{{dwn}}">Download link </a>
{% else %}
Can't get source files
{% endif %}
{% else %}

<font color = 'black'>Download: </font><a href="{% admin_media_prefix %}img/{{doc.altnames}}">Click to download!!</a>
{% endif %}

</div>



<br/>
{% ifequal doc.rating.get_rating 0 %}

<font color = 'black'>Current rating is: &nbsp;<font > No rating yet </font></font>
{% else %}
<font color = 'black'>Average Current rating is: &nbsp; <font > {{ doc.rating.get_rating }} </font></font><br/>
<font color = 'black'>Total Number of votes is:  &nbsp;<font ><b>{{ doc.rating_votes }}</b></font> </font>
{% endifequal %}
<br>
{% if user.is_authenticated %}
<form method="post" action="">
{% csrf_token %}
<input name="star1" type="radio" value=1 class="star"/>
<input name="star1" type="radio" value=2 class="star"/>
<input name="star1" type="radio" value=3 class="star"/>
<input name="star1" type="radio" value=4 class="star"/>
<input name="star1" type="radio" value=5 class="star"/>
</br>
<input type="hidden" name="docid" value={{doc.id}}>
<input type="submit" value="Rate it!!!">
</form>
<br/>


<form method="post" action="">
{% csrf_token %}

<input type="hidden" name="favusr" value={{user.username}}>
{% if relation %}
<input type="hidden" name="removefavid" value={{doc.id}}>
<input type="submit" value="Remove from favourites">
{% else %}
<input type="hidden" name="favid" value={{doc.id}}>
<input type="submit" value="Add to favourites">
{% endif %}
</form>
{% endif %}
<br/>
<!--ADDING AND DISPLAY TAG-->
	{% addtag doc doc.id user %}
<br/>

{% block nodetype-comments %}
<div id="comments" class="">
  <h5>{% trans "Comments" %}</h5>
  {% with doc.comments as comment_list %}
  {% if comment_list.count %}
  <ol id="comment-list" class="span-15 last">
    {% for comment in comment_list %}
    <li id="comment_{{ comment.pk }}" class="comment vcard {% cycle box1,box2 %}{% if comment.user in doc.authors.all %} post-author{% endif %} span-15 last">
      <div class="span-2">
	<img src="{% get_gravatar comment.email 60 "G" %}" class="gravatar photo" alt="{{ comment.user_name }}"/>
      </div>
      <div class="comment-body span-13 last">
	<div class="comment-author span-13 last">
	  {% if comment.url %}
	  <a href="{{ comment.url }}" class="fn url" title = "{{ comment.user_name }}">{{ comment.user_name }}</a>
	  {% else %}
	  {{ comment.user_name }}
	  {% endif %}
	  {% trans "on" %} {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}
	</div>
	<div class="span-13 last">
	  {{ comment.comment|linebreaks }}
	</div>
      </div>
    </li>
    {% endfor %}
  </ol>
    {% if not doc.comments_are_open %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if doc.comments_are_open %}
  <p>{% trans "No comments yet." %}</p>
    {% else %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% endif %}
  {% endwith %}
</div>
{% endblock %}

{% if user.is_authenticated %}
<div class="commentForm span-16 last">
  {% render_comment_form for doc %}
</div>
{% endif %}



<br>
<hr width="100%" style="height:5px;" color="black"/>
<br>

{% endblock %}
{% block graph %}
{% endblock %}
