{% extends "gstudio/base.html" %}

{% block title %}Enrich Timeline{% endblock %}

{% block content %}

<script>
window.onload = function() {
  
  function getScrollTop() {
    if (typeof window.pageYOffset !== 'undefined' ) {
      return window.pageYOffset;
    }

    var d = document.documentElement;
    if (d.clientHeight) {
      return d.scrollTop;
    }
    return document.body.scrollTop;
  }

  window.onscroll = function() {
    var box = document.getElementById('box'),
        scroll = getScrollTop();
    
    if (scroll <= 538) {
      box.style.top = "540px";
    }
    else {
      box.style.top = (scroll + 2) + "px";
    }
  };
  
};
</script>
<style>
#bg
{
 background-image:url("/static/gstudio/img/FunwithGeogebra.jpg");
 background-repeat: no-repeat;
 width:725px;
}
.upper_gap
{
	padding:280px 20px 0px 20px;
	font-size:14px;
	line-height:24px;
}
dt
{
	font-weight:bold;
}
</style>
<div id="bg">
<div class="upper_gap">
<p>
Geogebra is a mathematical software which helps in teaching and learning of Mathematical concepts. The name comes from Geometry and Algebra.Geogebra is a very easy to use application and gives an opportunity to interact with geometry, algebra, tables, graphs, calculus and statistics. It facilitates the creation of mathematical constructions and models and allows interactive explorations by dragging objects changing parameters. We can create interactive worksheets using GeoGebra.
</p>
<dl>
<dt>Interactive Programmes based on Geogebra</dt>
</dl>
<table style="font-size:12px;line-height:17px;">
<tr>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail1.png" width="100px" height="100px"/><br/>Area of circle</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail2.png" width="100px" height="100px"/><br/>Angle in the same segment of a circle</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail3.png" width="100px" height="100px"/><br/>Quadrilateral formation</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail4.png" width="100px" height="100px"/><br/>Area of a triangle</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail5.png" width="100px" height="100px"/><br/>Cyclic quadrilateral</a></td>
</tr>
<tr>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail6.png" width="100px" height="100px"/><br/>Triangle and parallelogram on the same base and between same parallel lines</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail7.png" width="100px" height="100px"/><br/>Parallelogram on the same base and between same parallel lines</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail8.png" width="100px" height="100px"/><br/>Angle subtended by an arc of a circle</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail9.png" width="100px" height="100px"/><br/>Cyclic quadrilateral</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail10.png" width="100px" height="100px"/><br/>Angle subtended by a chord at the center of a circle</a></td>
</tr>
<tr>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail11.png" width="100px" height="100px"/><br/>Tangent and radius of a circle</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail12.png" width="100px" height="100px"/><br/>Square</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail13.png" width="100px" height="100px"/><br/>Number of tangents to a circle</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail14.png" width="100px" height="100px"/><br/>Length of tangent</a></td>
<td  align="center" valign="top"><a href="http://nroer.gov.in/gstudio/resources/videos/show/43667/">
<img src="/static/gstudio/img/FunWithGeoThumbnail15.png" width="100px" height="100px"/><br/>Area of parallelogram</a></td>
</tr>
</table>

<p>
<a href="http://www.geogebra.org/download"><b>Download Geogebra software</b></a> on your computer or phone, create your own geogebra files</p>
</div>
</div>
<div>
<img src="/static/gstudio/img/GanitFooter.jpg"/>
</div>

<!--
<div class="event_maths">

<h1><div class="top_gappings">Enrich Timeline</div></h1>
<div class="events_text" style="line-height:18px;">

<div class="left"><img src="/static/gstudio/img/RamanujanTimeline.jpg"></div>
<div class="right"><img src="/static/gstudio/img/RamanujanTimelinecopy2.jpg"><p id="box" align="left"><a href="/static/gstudio/img/RamanujanTimeline1.jpg" class="event_btn2">Download Timeline</a><br/><br/><a href="/static/gstudio/img/RamanujanTimelinecopy.jpg" class="event_btn2">Download form to Enrich Timeline</a>
<br/><br/>

<b>Contribute:</b><br/>
<a href="http://nroer.gov.in/gstudio/resources/images/#divpost" style="font-weight:normal;">Images</a><br/>
<a href="http://nroer.gov.in/gstudio/resources/videos/#divpost" style="font-weight:normal;">Videos</a><br/>
<a href="http://nroer.gov.in/gstudio/resources/documents/#divpost" style="font-weight:normal;">Text</a><br/><br/>
<a href="http://nroer.gov.in/gstudio/page/gnowsys-page/43388/" style="font-size:14px;color:#111;"><b>Resources (Srinivasa Ramanujan)</b></a>
<p>&nbsp;</p>

</div>
<div class="clear"></div>
</div>


</div>
-->
{% endblock %}

