{% extends "gstudio/base.html" %}

{% block title %}Enrich Timeline{% endblock %}

{% block content %}

<script>
window.onload = function() {
  
  function getScrollTop() {
    if (typeof window.pageYOffset !== 'undefined' ) {
      return window.pageYOffset;
    }

    var d = document.documentElement;
    if (d.clientHeight) {
      return d.scrollTop;
    }
    return document.body.scrollTop;
  }

  window.onscroll = function() {
    var box = document.getElementById('box'),
        scroll = getScrollTop();
    
    if (scroll <= 538) {
      box.style.top = "540px";
    }
    else {
      box.style.top = (scroll + 2) + "px";
    }
  };
  
};
</script>
<h2>Fun with Geogebra</h2>
<p>
Geogebra is a mathematical software which helps in teaching and learning of Mathematical concepts. The name comes from Geometry and Algebra.Geogebra is a very easy to use application and gives an opportunity to interact with geometry, algebra, tables, graphs, calculus and statistics. It facilitates the creation of mathematical constructions and models and allows interactive explorations by dragging objects changing parameters. We can create interactive worksheets using GeoGebra.
</p>

<ul>
<li><a href="http://nroer.gov.in/gstudio/resources/documents/show/45982/">Area of circle</a></li>
<li><a href="http://nroer.gov.in/gstudio/resources/documents/show/45984/">Angle in the same segment of a circle</a></li>
<li><a href="http://nroer.gov.in/gstudio/resources/documents/show/45974/">Quadrilateral formation</a></li>
<li><a href="http://nroer.gov.in/gstudio/resources/documents/show/45992/">Area of a triangle</a></li>
<li><a href="http://nroer.gov.in/gstudio/resources/documents/show/45998/">Cyclic quadrilateral</a></li>

</ul>
<p>
<a href="http://www.geogebra.org/download">Download Geogebra software</a> on your computer or phone, create your own geogebra files</p>
<!--
<div class="event_maths">

<h1><div class="top_gappings">Enrich Timeline</div></h1>
<div class="events_text" style="line-height:18px;">

<div class="left"><img src="/static/gstudio/img/RamanujanTimeline.jpg"></div>
<div class="right"><img src="/static/gstudio/img/RamanujanTimelinecopy2.jpg"><p id="box" align="left"><a href="/static/gstudio/img/RamanujanTimeline1.jpg" class="event_btn2">Download Timeline</a><br/><br/><a href="/static/gstudio/img/RamanujanTimelinecopy.jpg" class="event_btn2">Download form to Enrich Timeline</a>
<br/><br/>

<b>Contribute:</b><br/>
<a href="http://nroer.gov.in/gstudio/resources/images/#divpost" style="font-weight:normal;">Images</a><br/>
<a href="http://nroer.gov.in/gstudio/resources/videos/#divpost" style="font-weight:normal;">Videos</a><br/>
<a href="http://nroer.gov.in/gstudio/resources/documents/#divpost" style="font-weight:normal;">Text</a><br/><br/>
<a href="http://nroer.gov.in/gstudio/page/gnowsys-page/43388/" style="font-size:14px;color:#111;"><b>Resources (Srinivasa Ramanujan)</b></a>
<p>&nbsp;</p>

</div>
<div class="clear"></div>
</div>


</div>
-->
{% endblock %}

