{% load objectapp_tags i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NROER</title>
<link rel="stylesheet" type="text/css" href="/static/gstudio/css/home/style.css">
<script type="text/javascript" src="/static/gstudio/js/home/script_2.js"></script>
<script type="text/javascript" src="/static/gstudio/js/home/stepcarousel.js"></script>
<script src="/static/gstudio/js/home/tabcontent.js" type="text/javascript"></script>
 <script type='text/javascript' src='/static/gstudio/js/home/jquery-1.8.3.js'></script>
<script type="text/javascript">
$(window).load(function(){
$(function() {
    $("#playlist li").on("click", function() {
        $("#videoarea").attr({
            "src": $(this).attr("movieurl"),
            "poster": "",
            "autoplay": "autoplay"
        })
    })
    $("#videoarea").attr({
        "src": $("#playlist li").eq(0).attr("movieurl"),
        "poster": $("#playlist li").eq(0).attr("moviesposter")
    })
})
$.ajax({
	url: '/gstudio/ajax/loadGbobjectsHome/',
	type: 'GET',
	data: {},
        beforeSend: function() {
                              },
	success: function(data){
		$('#recentObject').html(data);
		
		},
        complete: function(){
		  }
}); 
});
function Submit()
{
document.getElementById("searchid").click();
}


stepcarousel.setup({
	galleryid: 'mygallery',
	beltclass: 'belt',
	panelclass: 'panel',
	autostep: {enable:true, moveby:1, pause:3000},
	panelbehavior: {speed:500, wraparound:true, wrapbehavior:'slide', persist:true},
	defaultbuttons: {enable: true, moveby: 1, leftnav: ['/static/gstudio/img/home/left_scroll_btn.jpg', -25, 30], rightnav: ['/static/gstudio/img/home/right_scroll_btn.jpg', 5,30]},
	statusvars: ['statusA', 'statusB', 'statusC'],
	contenttype: ['inline'] 
})
</script>

</head>
<body>
<div id="content_body">
 <div id="box1" align="center">
	<div class="logo_blank"></div>
		<img src="/static/gstudio/img/home/mhrdlogo.png" />
	<div class="logo_blank"></div>
<a href="#"><img src="/static/gstudio/img/home/nroerlogo.png" /></a>
<div class="logo_blank"></div>
<img src="/static/gstudio/img/home/ncertlogo.png" />
<div class="logo_blank"></div>
<div align="center"><a href="">About Us</a>&nbsp; <a href="">Terms of Use</a>&nbsp; <a href="">Contact Us</a></div> 
 </div>
<div id="box2"><p>NROER is a digital repository for Open Educational Resources. The Repository houses a wide range of educational content and resources covering all subjects and grades. The content is also available in multiple languages. In addition to the educational resources which are available in a wide variety of forms, the NROER also provides opportunities to teachers to share the content developed by them and also to comment and rate the resources available on the repository</p>

<div id="search_box">
	<div class="left"><img src="/static/gstudio/img/home/searchicon.jpg" /></div>
	<div class="left"><div class="search_bg"><form action="{% url gstudio_nodetype_search %}" method="get">

 <input type="text" class="search_txt" value="Search by concept" name="pattern" onfocus="if(this.value == 'Search by concept'){this.value=''}" onblur="if(this.value == null || this.value == ''){this.value='Search by concept'}">
	<input class="searchbutton" id = "searchid" type="submit" value="" title="Search" />
&nbsp;&nbsp;
	<!-- <a href="{% url objectapp_gbobject_latest_feed %}" class="feeds" title="Rssfeed"><img src="/static/gstudio/img/rss.png" alt="?" width="20" height="" id= "rssimage" style="display:none"/></a>-->
      </form>

</div></div>
	<div class="left browse_txt"><b><a href="">or browse by collection</a></b></div>
	<div class="clear"></div>
       
</div>
<h2>&nbsp;&nbsp;<b>Featured Resources</b></h2>
<div id="scroll_box">
 <div id="mygallery" class="stepcarousel">
        <div class="belt">
        <ul id="playlist">
          <li movieurl="http://wetube.gnowledge.org/BYX/480p.webm"><div class="panel">
            <img src="http://wetube.gnowledge.org/BYX/icon128.jpg" />
          </div></li>
          <li movieurl="http://wetube.gnowledge.org/BAP/480p.webm"><div class="panel">
            <img src="http://wetube.gnowledge.org/BAP/icon128.jpg" />
          </div></li>
          <li movieurl="http://wetube.gnowledge.org/ACN/480p.webm"><div class="panel">
            <img src="http://wetube.gnowledge.org/ACN/icon128.jpg" />
          </div></li>
         <li movieurl="http://wetube.gnowledge.org/XG/480p.webm"><div class="panel">
            <img src="http://wetube.gnowledge.org/XG/icon128.jpg" />
          </div></li>
          <li movieurl="http://wetube.gnowledge.org/BYV/480p.webm"><div class="panel">
            <img src="http://wetube.gnowledge.org/BYV/icon128.jpg" />
          </div></li>
        </UL>
        </div>
	</div>
      </div>
<div class="clear"></div>
<div class="blank"></div>
<div class="clear"></div>
<div class="home_box">	
	<h2><img src="/static/gstudio/img/home/mission.jpg" align="left"/> Our Mission</h2>
<div class="clear"></div>
	<p>To store , preserve and provide access to variety of digital resources for students and teachers.</p>
<p>To enable the participation of the community in development and sharing of digital resources. </p>
	</div>
<div class="home_blank"></div>
<div class="home_box"><h2><img src="/static/gstudio/img/home/contribute.jpg" align="left"/> Who can Contribute</h2>
<div class="clear"></div>
	<p>Experts from various subject areas</p>
<p>Instructional designers, independent producers, directors and film makers who would like to add their educational content on the repository.</p>
<p>Other govt and non govt organisations who would wish to share their resources.</p>
<p><a href="http://cietncert.org/ICT-Schools/ICTSchools/e-content" target="_blank"><u>To contribute click here >></u></a></p>
</div>
<div class="home_blank"></div>
<div class="home_box">
<h2><img src="/static/gstudio/img/home/news.jpg" align="left"/> Latest News</h2>
<div class="clear"></div>
<p>Experts from various subject areas</p>
<p>Instructional designers, independent producers, directors and film makers who would like to add their educational content on the repository.</p>
<p>Other govt and non govt organisations who would wish to share their resources.</p>
</div>
<div class="clear"></div>

</div>
<div class="clear"></div>
</div>
</body>
</html>
