{% extends "gstudio/base.html" %}

{% block title %}Enrich Timeline{% endblock %}

{% block content %}


<div class="event_maths">

<h1><div class="top_gappings">I Love Maths</div></h1>
<div class="events_text">
<div align="center"><img src="/static/gstudio/img/ilovemaths2.png"  width="600px" height="900px"></div>
</div>
<div><a href="http://nroer.gov.in/gstudio/page/gnowsys-page/43388/" style="font-size:14px;color:#111;margin-left:20px;"><b>Resources (Srinivasa Ramanujan)</b></a></div>
<p>&nbsp;</p>

</div>
{% endblock %}
