<html>
<body>
{% extends "gstudio/base.html" %}
{% load gstudio_tags %}
{% load pagination_tags %}
{% load adminmedia grp_tags %}
{% load i18n %}
 {% block title %}Images{% endblock %}

{% block content %}
<script src="/static/gstudio/js/jquery.form.js" type="text/javascript"></script>
<script src="/static/gstudio/js/main.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/org/set.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/jquery.orgitdown.js"></script>
<script type="text/javascript" >


$("#collectionsearch").keyup(function () {
            alert("aa");
       //     $("#lstBox1 option").show();
       //     $("#lstBox1 option:not(option:contains('" + $("#collectionsearch").val() + "'))").hide();
        });




$(document).on('click',"#lstvalue",function(){

           $("#coll input").show();
           $("#imagecollections").show();
          $("#imagediv").css({"position":"relative","margin-top":"60px"})
        var arr=[];
        var arr1=[];
        $("#collectionimg").hide();
        opts = lstBox2.options, len = opts.length;
        if (len == 0){
                   arr=[];
                   arr1=[];

        }
        else{
                   arr1=[];
                   for (var i = 0; i < len; i++)
                   {
                           arr[i] = "'"+opts[i].value+"'";
                           arr1[i]=opts[i].id;
                            }
         }
         var abc1=arr1.join(',');
         if (abc1){
                            var abc=abc1;

         }
         else{
                           var abc=null;
         }


       //  var collection= document.getElementById("iscollection").value;
         var listofcollns=abc
         var colid=""
         var coltitle=document.getElementById("imgcolname").value;
         if (coltitle == ""){alert("Please type collection name");
                      $("#imgcolname").focus();}
 else{
                              $("#lstBox2").empty();
                                 $("#imgcolname").val("");

                             $.ajax({
                              url: '/gstudio/resources/images/createcolln/',
                              data:{'listofcollns':abc,'coltitle':coltitle,'editcoln':0,'colid':colid},
                              success: function(data) {
                              $("#imagecollections").html(data);

                              },

       });}

    });



</script>
<script type="text/javascript">
  $(function(){
          $("#mydropdown").change(function(event){
            $("option:selected", $(this)).each(function(){
                var obj = document.getElementById('mydropdown').value;
                if(obj=="creation_date"){
		$("#searchfont").show();
		}
		else{$("#searchfont").hide();}
	
            });
          });
        });
$(window).load(function(){
$(".delimgcolln").click(function(){
       $("#coll").css({"margin-top":"0px;","display":""});
  var obid = this.id;
        r = confirm("Please confirm delete ")
        if (r==true)
        {
         $("#lstBox2").empty();
         $("#imgcolname").val("");
        $.ajax({
        url: '/gstudio/ajax/deleteimgcolln/',
 data: {obid:obid},
beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                      },
success: function(data){
        $('#imagecollections').html(data);
                     },
complete: function(){
        $("#ajax_load_image").hide();
$("#content").css({"opacity":"",})
                  }
});
}
});
var isImage=false;
$("#content").css({"width": "100%"});});
$(window).load(function() {
 $("#chart").hide();		
$("#collectionimg").hide();});
$(window).load(function() {
 $("#graphcss").hide();
// $(".gbobject-image").hide();
    
  });

var i = 0;

jQuery(document).ready(function($) {
     $("#commenteditor").click(function(){
	$(this).replaceWith('<textarea id="gnoweditor" style="visibility:hidden;width:450px"></textarea>');
        isImage=true;
        document.getElementById('gnoweditor').style.visibility="visible";
        $("#gnoweditor").orgitdown(mySettings);
	<!--document.getElementById('save').style.visibility="visible";-->
        $(".orgitdownContainer").css({"margin-top":"0px","margin-left":"10px"});
	$("#submitpostid").hide();//css({"margin-left":"400px","margin-top":"-35px"});
	$("#commenteditor").hide();
			
	});
	$("#save").click(function(){
        alert("saveimage");
        var org_data = $("#gnoweditor").val();
	var encode_data = encodeURIComponent(org_data);
	var decode_data = decodeURIComponent(encode_data.replace(/\+/g, " "));       
 	$("#commenttext").val(decode_data);
        $('.orgitdownContainer').hide();
	$("#submitpostid").css({"margin-left":"0px","margin-top":"0px"});
	$("#divpost b").text(decode_data); 
	$("#editcommenteditor").show();
	$("#submitpostid").show();
	   
	});

     $("#editcommenteditor").click(function(){
	$('.orgitdownContainer').show();
	$("#editcommenteditor").hide();
	$("#submitpostid").hide();
	});
    

});
</script>
<script type="text/javascript" >
jQuery.noConflict();
jQuery(document).ready(function($) {
$(".gbobject-image1").live({
mouseenter: function() {
var id=this.id;
var srcid=$(".imgbig"+id).attr("id");
$(".imgbig"+id).attr("src",srcid);
$("#divimage"+id).show();
},
mouseleave: function() {
var id1=this.id;
$("#divimage"+id1).hide();
//$(this).removeClass("over");
}
});});

</script>
<script type="text/javascript">
function ajaxmakesure(id) {
r = confirm("Please confirm delete ")
if (r==true)
  {
	var image_id = "";
	image_id = id;
	var ajurl ="/gstudio/resources/images/imagedelete/";
	$.ajax({
       	       url:ajurl,
	       data: {image_ajax_id:image_id},
	       beforeSend: function() {
                              $("#ajax_load_image").show();
                            
			      $("#content").css({"opacity":"0.1",})
	   
                              },
	       success: function(data){	
	       		     $('#imageGallery').html(data);
			     },
	       complete: function(){
                             $("#ajax_load_image").hide();
			     $("#content").css({"opacity":"",})
			     },
   		});
                             
       			      
  }
else
  {
  
  }

}
</script>

<script type="text/javascript">
	jQuery.noConflict();
        jQuery(document).ready(function($) { 
            $('#imagepost').submit(function(form) { 
		//document.getelementby
		form.preventDefault();
		var formdata={ 
        		//target: '#imageGallery',   // target element(s) to be updated with server response 
        		beforeSubmit:  function() {
                              $("#ajax_load_image").show();
                            
			      $("#content").css({"opacity":"0.1",})
	 
                              },  // pre-submit callback 
        		success: function(data){	
	       		     $('#imageGallery').html(data);
			     },  // post-submit callback 
			 complete: function(){
                             $("#ajax_load_image").hide();
			     $("#content").css({"opacity":"",})
				document.getElementById("title").value="";
				document.getElementById("image").value="";
				document.getElementById("commenttext").value="";
			     },
			url:  "/gstudio/resources/images/imagepost/",     // override for form's 'action' attribute 
        		type: $('#imagepost').attr('method')
			};
			$(this).ajaxSubmit(formdata);
            }); 
        });  
</script>
<h2 style="">Image Library</h2>
<br/>
<div id="upperdiv">
<div id="divsearch">
<form method="post" action="">
{% csrf_token %}
<h4 style="color: black; margin-left: 0px;" class="left">Search Image: &nbsp;</h4>
<div class="left">
	<input type="text" name="simg" value={{val}}>&nbsp;&nbsp;<select name="mydropdown" id="mydropdown">
<option value="title">Title</option>
<option value="creation_date">Creation Date</option>
</select>&nbsp;&nbsp;<input type="submit" value="Search">

</div>
<div class="clear"></div>
<font size="1" id="searchfont" style="display:none"><b>YY-MM-DD HH:MM:SS</b></font>


</form>
{% if user.is_authenticated %}
<form method="post" action="/gstudio/resources/images/">
{% csrf_token %}
<input type="hidden" name="user" value={{user.username}}>
<input type="submit" name="fav" value="View Favourites">
</form>
{% endif %}
</div>
{% if user.is_authenticated %}
<div id="divpost">
<form id ="imagepost" enctype="multipart/form-data" method="post" action="">
{% csrf_token %}

<h4 style="color: black; margin-left: 0px;">Submit Image:</h4>
Title:&nbsp; <input type="text" name="title1" id ="title"><br/><br/>
Image:&nbsp; <input type="file" name="image[]" multiple="multiple" id="image"/><br/><br/>
Description:&nbsp;&nbsp;<b></b>
<input type="button"  id="editcommenteditor"  value="edit" style="display:none" >
<input type="button"  id="commenteditor"  value="Add Content" >
<input type="button" class="commentsavecontent" id="save" value="Save" style="visibility:hidden" />
<input type="text" name="contenttext" id="commenttext" style="visibility:hidden" />
<input type="hidden" name="user" value={{user.username}}>
<div>
<input type="submit" id="submitpostid" value="Submit" size="900" name="post">
</div>
</form>
</div>
{% endif %}
</div>
<br>
{% if reportid %}
<h2><font color="red">this image is already uploaded on this site</font></h2>
<a href="/gstudio/resources/images/show/{{ reportid }}/"> <font size="4">to see this image click here</font></a><br/><br/><br/>
{% endif %}


<br/>
<div id="imagecollections">
<br/>
{% get_image_collections as col %}
{% if col %}
<font size="4" color="black">Image Collections</font><br/>
{% for key,value in col.items %}
<a href="/gstudio/resources/images/show/{{key}}/">
{{value}}</a>&nbsp;;

{% for author in image1.authors.all %}
	{% ifequal author.username user.username %}
<a class="delimgcolln" id="{{key}}" value="{{key}}" title="delete {{value}}">
<img src="/static/gstudio/js/orgitdown/orgitdown/sets/org/images/close.jpeg" width = 8px; style="vertical-align: super;"/>
</a>
        {% endifequal %}
{% endfor %}


{% endfor %}
{% endif %}
</div>



<div id="coll">

            {% for each in test %}
              {% if each.system.gbobject_set.exists %}
                    <li class="list"><abbr title="Collection"><img src="/static/gstudio/js/orgitdown/orgitdown/sets/org/images/folder.png"><abbr> <a href={{each.get_view_object_url}}> {{each.title}}</a></li>
                {% else %}
                    <li class="list"><abbr title="Page"><img src="/static/gstudio/js/orgitdown/orgitdown/sets/org/images/doc.png"></abbr><a href={{each.get_view_object_url}}> {{each.title}}</a></li>
		    {% endif %}
            {% endfor %}

               {% if collection %}
                 {% if user.is_authenticated %}

                 <input type="button" class="addtoimgdrawer" value="Edit Collection" name="addtodrawer"/>
                 <input type="button" class="htmlexport" value="View"/>
                 {% endif %}

                 {% else %}
                 {% if user.is_authenticated %}

                 <input type="button" class="addtoimgdrawer" value="Create Collection" name="addtodrawer"/>

                 {% endif %}

                 {% endif %}
</div>

<div id="collectionimg" style="display:none;">
        <b>Collection Name:</b>
        <input type="text" id="imgcolname" value=""><br/>
        <table  id="drawertable" >
         <tr>
         <td style='width:160px;'>
                 <b>Pages:
                  <select multiple="multiple" id='lstBox1' class="selectOptionCollection">
                  {% for key,value in test1.items %}
                    <option id={{key}}>{{value}}</option>

                  {% endfor %}

		    </select>
         </td>
         <td style='width:50px;text-align:center;vertical-align:middle;'>
       <input type='button' id='btnUp' value ='  ^  '/><br/>
       <input type='button' id='btnRight' value ='  >  '/><br/>
       <input type='button' id='btnLeft' value ='  <  '/><br/>
       <input type='button' id='btnDown' value ='  v  '/><br/>

    </td>
    <td style='width:160px;'>
        <b>Added to Drawer: </b><br/>
        <select multiple="multiple" name="lstb2" id='lstBox2' class="selectOptionCollection">
          {% for each in test %}
             <option id={{each.id}}>{{each.title}}</a></option>
          {% endfor %}
          </option>
        </select>
    </td><br>
    </tr>
    <tr>
    <td>
 <input type="button"  value="Reset" id="resetdrawer"/>
      <input type="button"  value="Submit" id="lstvalue"/>
      <input type="button"  value="Cancel" id="cancel"/>


 </td>

</tr>
</table>


 <input id="drawer"   name="texttags" style="visibility:hidden">

 <input type="button" id="showcollection" value="Show Drawer" style="visibility:hidden"/>

</div>



<!-- <div>

 {% if fav %}
<h2 style="">Favourite Images</h2>
{% else %}
<div class="blank2"></div>

<br/>
{% endif %}-->
<h4 style="">Image Gallery</h4>
<div id="imageGallery">
{% autopaginate images 40 %}
<table width="100%">
    <tr>
{% for image1 in images %}
        <td class="gbobject-image1" id = "{{image1.id}}"><a  class="preview" title="{{image1.title}}" rel="{% admin_media_prefix %}img/{{image1.image|cut:'.jpg'|cut:'.png'|cut:'.JPG'|cut:'.JPEG'|cut:'.jpeg'|cut:'.svg'|cut:'.tif'|cut:'.gif'|cut:'.ogv'}}_display_1024" href="/gstudio/resources/images/show/{{image1.id}}"><img src="{% admin_media_prefix %}img/{{image1.image|cut:'.jpg'|cut:'.png'|cut:'.JPG'|cut:'.JPEG'|cut:'.jpeg'|cut:'.svg'|cut:'.tif'|cut:'.gif'|cut:'.ogv'}}-thumbnail"></a>
<form method="post" action="">{% csrf_token %}
{% for author in image1.authors.all %}
	{% ifequal author.username user.username %}&nbsp;
	<input type="hidden" name="fulid" value={{image1.id}}>
	<!--  <input type="submit" value="Show" name="Show">-->
	<input type="hidden" name="pict" id="imgid" value={{image1.id}}>
	<input type="hidden" name="user" value={{user.username}}>
	<input type="button" id="delete" name="delete" value="Delete" onclick="ajaxmakesure({{image1.id}})" style="margin-top:5px;width:60px">

	{% endifequal %}
{% endfor %}
</form>
<td>
	     
    {% if not forloop.last and forloop.counter|divisibleby:"5" %}
    </tr>
  {% endif %}
   {% endfor  %} 
 		</tr>
</table>

 <h2>
{% paginate %}</h2>
</div>
{% endblock %}
</body>
</html>
