{% extends "gstudio/base.html" %}

{% block title %}Magic Square{% endblock %}

{% block content %}
<div class="event_maths">

<h1><div class="top_gappings">Magic Square</div></h1>
<div class="events_text">

<div class="left"><img src="/static/gstudio/img/Magicbox_1.png" width="340px" height="450px"></div>
<div class="right">
<video width="340" height="240" controls="" style="-moz-box-shadow:3px 3px 5px 6px #ccc;-webkit-box-shadow: 3px 3px 5px 6px #ccc;box-shadow:         3px 3px 5px 6px #ccc;">
  <source src="http://wetube.gnowledge.org/data/media/a4/2c/c0/d3ed3d7b2d/480p.webm" type="video/webm">
  <source src="http://wetube.gnowledge.org/data/media/a4/2c/c0/d3ed3d7b2d/480p.webm" type="video/webm">
  
</video> </div>
<div class="clear"></div>

</div>

<div><a href="http://nroer.gov.in/gstudio/page/gnowsys-page/43388/" style="font-size:14px;color:#111;margin-left:20px;"><b>Resources (Srinivasa Ramanujan)</b></a></div>
<p>&nbsp;</p>

</div>
{% endblock %}
