{% extends "gstudio/base.html" %}

{% block title %}Maths Tricks{% endblock %}

{% block content %}
<div class="event_maths">

<h1><div class="top_gappings">Maths Tricks</div></h1>
<div class="events_text">

<div class="left"><img src="/static/gstudio/img/Mathstricks.png" width="340px" height="450px"></div>
<div class="right"><img src="/static/gstudio/img/Mathstricks_2.png" width="340px" height="450px"></div>
<div class="clear"></div>
</div>
<div><a href="http://nroer.gov.in/gstudio/page/gnowsys-page/43388/" style="font-size:14px;color:#111;margin-left:20px;"><b>Resources (Srinivasa Ramanujan)</b></a></div>
<p>&nbsp;</p>


</div>
{% endblock %}
