{% extends "gstudio/base.html" %}

{% block title %}Patterns in Nature{% endblock %}
{% block content %}


<div id="joindots_event" style="position:relative;"><img src="/static/gstudio/img/naturepatterns.jpg">
<a style="border-radius: 50px;
    display: block;
    height: 80px;
    left: 72px;
    position: absolute;
    top: 648px;
    width: 275px;" alt="View Patterns here" title="View patterns here" href="/static/gstudio/img/Patterns_in_Nature.pdf"></a>
<a style="border-radius: 50px;
    display: block;
    height: 80px;
    left: 366px;
    position: absolute;
    top: 648px;
    width: 275px;" alt="Share Patterns" title="Share Patterns" href="http://nroer.gov.in/ContributeResourceForm/"></a>
</div>

{% endblock %}
