{% load gstudio_tags %}
{% load i18n %}
<script type="text/javascript" >

var availableObjects = [];
$.merge(availableObjects, {% get_pri_post_page %})

jQuery(document).ready(function($) { 
$("#addpriorpost").click(function(){
     
data = $("#priorpage").val();//attr('value');
var username="{{user.username}}";
var response_content="Added Priopage:"+data;
var pageid={{objectid}};
$.ajax({
	url: '/gstudio/resources/images/addpriorpost/',
	//type:"POST",
	data: {title:data,titleid:{{objectid}}},
        beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                              },
	success: function(data){
		$('#priorpostpages').html(data);
		$("#chart").text("");
		fgraph();
			},
        complete: function(){
                $("#ajax_load_image").hide();
		$("#content").css({"opacity":"",})
		  }
});  
$("#priorpage").val("");
notifyuser(response_content,pageid,username);
});
});

$(document).ready(function(){
$( "#priorpage" ).autocomplete({
source: availableObjects
});
});

</script>

<div id = "priorpostpages">
<script type="text/javascript" >
jQuery(document).ready(function($) { 
$(".deletepriorpage").click(function(){
var id1 = {{objectid}},
    id2 = this.id;
    tagname=$(this).attr('value');
   username="{{user.username}}";
{% if user.is_superuser %}
 alert("superuser:"+username);
  $.ajax({
	url: '/gstudio/ajax/deletepriorpage/',
	type: 'POST',
	data: {objectid1:id1,objectid2:id2,csrfmiddlewaretoken: '{{ csrf_token }}' },
        beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                              },
       success: function(data){
		$('#priorpostpages').html(data);
		$("#chart").text("");
		fgraph();
		},
       complete: function(){
               $("#ajax_load_image").hide();
		$("#content").css({"opacity":"",})
		  }
});  
{% else %}
  var response_content = "Request for Delete page, name:"+tagname+" on page";   
  r = confirm("Do you want to send Delete Request ")
  if (r==true)
  {
   notifyuser(response_content,id1,username);      			      
  }
else { }
{% endif %}
});

});

function notifyuser(response_content,pageid,username)
            {
       $.ajax({
       url: '/gstudio/ajax/notifyuser/',
       type: 'GET',
       data: {response_content:response_content,pageid:id1,username:username},      
       beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                              },
       success: function(data){
		//$('#priorpostpages').html(data);
                alert("Request sent to Admin");
		$("#chart").text("");
		fgraph();
		},
       complete: function(){
               $("#ajax_load_image").hide();
		$("#content").css({"opacity":"",})
		  }
});  

            }
</script>

<br/>
<strong>Prior Pages:</strong>
{% for each in priorgbobject %}
<a href="{{each.get_view_object_url}}">{{each}}</a>
{% if user.is_authenticated %}
<a class="deletepriorpage" id="{{each.id}}" value="{{each}}" title="delete {{each}}"> 
<img src="/static/gstudio/js/orgitdown/orgitdown/sets/org/images/close.jpeg" width = 8px; style="vertical-align: super;"/>
</a>
{% endif %}
{% if not forloop.last %},{% endif %}
{% empty %}
 <span>No prior page</span>
{% endfor %}
<br/>
<strong>Posterior Pages:</strong>
{% for each in posteriorgbobject %}
<a href="{{each.get_view_object_url}}">{{each}}</a>
{% if not forloop.last %},{% endif %}
{% empty %}
 <span>No Posterior Page</span>
{% endfor %}
<br/>
</div>

{% if user.is_authenticated %}
<!-- <form method="get" action=""> -->{% csrf_token %}

<input type="hidden" name="docid" value={{objectid}}>
<input id="priorpage"  class="tagpriorpage" name="textpriorpage">
<input type="button" class="priorpost" id="addpriorpost" value="Add Prior Page" name="addtags" />
<br/><br/>
<!-- <input type="button" id="titleeditcontent" name="" value="Edit a title"/>
<input type="text" value="" name="texttags" id="texttagtitle" style="visibility:hidden" /> 
<input type="button" class="titlecommentsavecontent" id="titlesave" value="Save" style="visibility:hidden" />
<input type="hidden" name="titlecontenttext" id="titlecommenttext" style="visibility:hidden" />
<input type="hidden" id="titleeditortext" style="visibility:hidden" value="{{ objecttitle }}">
<!-- </form> -->
{% endif %}

