{% extends "gstudio/base.html" %}

{% block title %}A Tribute to Srinivasa Ramanujan{% endblock %}

{% block content %}
<div id="math_event" style="position:relative;"><img width="725px" height="1450px" src="http://nroer.gov.in/static/img/ciet.ncert/SR-Banner.jpg">
<a style="position:absolute;top:890px;left:440px;height:45px;width:238PX;display:block;" alt="Enrich Timeline" title="Enrich Timeline" href="/EnrichTheTimeline"></a>

<a style="position:absolute;top:890px;left:80px;height:45px;width:225PX;display:block;" alt="Magic Square" title="Magic Square" href="#"></a>
  
  <a style="position:absolute;top:964px;left:80px;height:45px;width:210PX;display:block;" alt="Maths Tricks" title="Maths Tricks" href="#"></a>
  <a style="position:absolute;top:970px;left:440px;height:45px;width:270PX;display:block;" alt="I Love Mathematics" title="I Love Mathematics" href="#"></a>
<a style="position:absolute;top:1047px;left:551px;height:20px;width:162PX;display:block;" alt="Login" title="Login" href="http://nroer.gov.in/accounts/login/"></a>
<a style="position:absolute;top:1047px;left:21px;height:20px;width:215PX;display:block;" alt="Register" title="Register" href="http://nroer.gov.in/accounts/register/"></a>

</div>
{% endblock %}
