{% extends "gstudio/base.html" %}

{% block title %}A Tribute to Srinivasa Ramanujan{% endblock %}

{% block content %}
<div id="math_event" style="position:relative;"><img width="725px" height="1450px" src="/static/gstudio/img/ramanujan.png">
<a style="position:absolute;top:890px;left:440px;height:45px;width:238PX;display:block;" alt="Enrich Timeline" title="Enrich Timeline" href="/EnrichTheTimeline"></a>

<a style="position:absolute;top:890px;left:80px;height:45px;width:225PX;display:block;" alt="Magic Square" title="Magic Square" href="/MagicSquare"></a>
  
  <a style="position:absolute;top:964px;left:80px;height:45px;width:210PX;display:block;" alt="Maths Tricks" title="Maths Tricks" href="/MathsTricks"></a>
  <a style="position:absolute;top:970px;left:440px;height:45px;width:270PX;display:block;" alt="I Love Mathematics" title="I Love Mathematics" href="/ILoveMaths"></a>
<a style="position:absolute;top:1047px;left:551px;height:20px;width:162PX;display:block;" alt="Login" title="Login" href="http://nroer.gov.in/accounts/login/"></a>
<a style="position:absolute;top:1047px;left:21px;height:20px;width:215PX;display:block;" alt="Register" title="Register" href="http://nroer.gov.in/accounts/register/"></a>

</div>
<div><b>Contribute:</b><br/>
<a href="http://nroer.gov.in/gstudio/resources/images/#divpost">Images</a><br/>
<a href="http://nroer.gov.in/gstudio/resources/videos/#divpost">Videos</a><br/>
<a href="http://nroer.gov.in/gstudio/resources/documents/#divpost">Text</a>
</div>
<p><a href="http://nroer.gov.in/gstudio/page/gnowsys-page/43388/" style="font-size:14px;color:#111;"><b>Resources (Srinivasa Ramanujan)</b></a></p>
{% endblock %}
