{% extends "gstudio/base.html" %}

{% block title %}Rejuvenating history{% endblock %}

{% block content %}
<div class="event_3_bg">
<div class="event_border">
<div class="event_blue">
<div class="left">
<p class="event_3_heading">Rejuvenating<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; history</p>
<div class="event3_quote">
	<div>"Culture is the widening of the mind and of the spirit."</div>
        <div class="event3_name">― Jawaharlal Nehru</div>
</div>
</div>
<div class="right"><div class="polaroid"><img src="/static/gstudio/img/rejuvenating.jpg" width="140px" height="140px"></div></div>
<div class="clear"></div>
</div>

<div class="event3_textsize">
Around the globe we have rich historical and cultural heritage in the form of palaces, forts, monuments or in other forms of art and culture. They were either created to commemorate a person or important event or became important to a social group as a part of their remembrance of historic times or cultural heritage, or simply as an example of historic architecture. Many of them are known to us because of their visibility in books, newspaper or in other forms of media may be for their preservation. But there are others too which are either neglected or yet to be discovered. So if you know any of such places which are endowed with natural beauty and part of great history, just capture its story in the form of photographs (maximum of 10) along with its description (location and related information) and share it with us.

</div>
</div>
</div>


{% endblock %}
