{% extends "gstudio/base.html" %}

{% block title %}Science in my hands{% endblock %}

{% block content %}
<div class="event_4_bg">
<div class="event_border">
<div class="event_blue">
<div class="left">
<p class="event_3_heading">Science in<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;my hands</p>
<div class="event3_quote">
	<div>"The scientific approach and temper are, or should be, a way of life, a process of thinking, a method of acting and associating with our fellowmen."</div>
        <div class="event3_name">― Jawaharlal Nehru</div>
</div>
</div>
<div class="right"><div class="polaroid"><img alt="Capture the nature" src="/static/gstudio/img/scienceinmyhand.jpg" width="150px" height="140px"></div></div>
<div class="clear"></div>
</div>

<div class="event3_textsize">
Students develop or create very interesting things using their scientific temper, knowledge and skills. So this is the right time to share it with others. You can share it in any form including an image, video clip etc with description.


</div>

</div>
</div>


{% endblock %}
