{% extends "gstudio/base.html" %}

{% block title %}Sharing novel ideas{% endblock %}

{% block content %}
<div>
<div class="event_border">
<div class="event_blue">
<div class="left">
<p class="event_3_heading">Sharing<br/>&nbsp;&nbsp;&nbsp;&nbsp;novel ideas</p>
<div class="event3_quote">
	<div>"What lies behind us & what lies before us are tiny matters compared to what lies within us."</div>
        <div class="event3_name">― Ralph Waldo Emerson</div>
</div>
</div>
<div class="right"><div class="polaroid"><img src="/static/gstudio/img/ideas.jpg" width="150px" height="140px"></div></div>
<div class="clear"></div>
</div>

<div class="event3_textsize">
Share your innovative classroom ideas that you used or would like to use with your students for making their learning more interesting and interactive. It could include any game, activity, project or discussion etc. If audio or video, it should not exceed 15 minutes duration. Images should not be more than ten with description. For text, there is no limitation.
<div align="center" style="margin-top:20px;"><img src="http://nroer.gov.in/static/img/ciet.ncert/novel-ideas1.jpg" width="470px" height="610px"></div>
</div>
</div>
</div>

{% endblock %}
