{% extends "gstudio/base.html" %}

{% block title %}Share Resources{% endblock %}

{% block content %}
<div class="event_2" style="height:900px;">

<h1><div class="top_gappings">Share Resources</div></h1>
<div class="events_text">
<p>You can share your lesson plans/ videos/ audios/ images/ documents/ letters etc. related to Mahatma Gandhi with us.</p>
<p>
<ul>
<li><a href="/gstudio/resources/images/#divpost">Images/ Graphics</a></li>
<li><a href="/gstudio/resources/videos/#divpost">Video</a></li>
<li><a href="/gstudio/resources/documents/#divpost">Audio</a></li>
<li><a href="/gstudio/resources/documents/#divpost">Interactive</a></li>
<li><a href="/gstudio/resources/documents/#divpost">Documents</a></li>
</ul>

</p>
</div>
</div>


{% endblock %}
