{% extends "gstudio/base.html" %}

{% block title %}Share Knowledge{% endblock %}



{% block content %}
<link rel="stylesheet" href="/static/gstudio/css/home/basic.css" type="text/css" />              
 <link rel="stylesheet" href="/static/gstudio/css/home/galleriffic-2.css" type="text/css" />
 <script type="text/javascript" src="/static/gstudio/js/home/jquery-1.3.2.js"></script>
 <script type="text/javascript" src="/static/gstudio/js/home/jquery.galleriffic.js"></script>
 <script type="text/javascript" src="/static/gstudio/js/home/jquery.opacityrollover.js"></script> 

<div class="event_2">

<h1><div class="top_gappings">Share Knowledge</div></h1>
<div class="events_text">
<p>
The images given below depicts the moments from Mahatma Gandhi’s life. Share and discuss these images in your classroom and design activities using these images and share with us, you can also use the timeline for this. Share your knowledge by adding/ sharing any related or specific information on any of the image/ images you can also send this information in the format attached below. Your suggestions are always welcomed at <a href="mailto:nroer.ciet@gmail.com"><u>nroer.ciet@gmail.com</u></a> 
</p>






<div id="page">
			<div id="container">

				<!-- Start Advanced Gallery Html Containers -->
				<div id="gallery" class="content">
					<div id="controls" class="controls"></div>
					<div class="slideshow-container">
						<div id="loading" class="loader"></div>
						<div id="slideshow" class="slideshow"></div>
					</div>
					<div id="caption" class="caption-container"></div>
				</div>
				<div id="thumbs" class="navigation">
					<ul class="thumbs noscript">
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/1.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/1-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/2.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/2-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/3.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/3-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>

						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/4.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/4-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>

						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/5.JPG" ><img src="http://nroer.gov.in/static/img/ciet.ncert/5-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/6.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/6-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/7.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/7-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/8.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/8-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/9.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/9-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/10.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/10-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/11.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/11-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/13.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/13-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/14.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/14-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/15.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/15-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/16.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/16-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/17.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/17-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/18.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/18-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/19.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/19-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/20.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/20-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/21.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/21-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/22.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/22-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/23.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/23-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/24.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/24-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
						<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/25.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/25-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/26.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/26-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/27.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/27-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/28.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/28-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/29.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/29-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/30.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/30-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/31.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/31-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/32.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/32-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/33.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/33-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/34.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/34-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/35.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/35-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/36.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/36-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/37.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/37-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/38.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/38-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/39.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/39-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/40.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/40-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/41.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/41-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/42.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/42-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/43.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/43-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/44.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/44-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/45.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/45-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/46.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/46-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/47.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/47-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/48.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/48-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/49.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/49-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/50.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/50-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/51.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/51-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/52.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/52-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/53.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/53-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/54.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/54-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/55.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/55-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/56.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/56-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/57.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/57-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/58.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/58-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/59.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/59-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/60.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/60-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/61.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/61-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/62.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/62-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/63.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/63-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/64.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/64-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/65.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/65-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/66.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/66-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/67.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/67-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/68.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/68-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/69.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/69-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/70.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/70-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/71.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/71-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/72.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/72-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/73.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/73-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/74.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/74-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/75.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/75-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/76.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/76-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/77.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/77-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/78.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/78-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/79.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/79-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/80.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/80-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/81.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/81-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/82.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/82-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/83.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/83-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/84.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/84-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/85.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/85-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/86.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/86-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/87.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/87-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/88.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/88-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/89.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/89-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/90.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/90-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/91.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/91-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/92.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/92-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
<li>
							<a class="thumb" name="leaf" href="http://nroer.gov.in/static/img/ciet.ncert/93.jpg" ><img src="http://nroer.gov.in/static/img/ciet.ncert/93-thumbnail"/></a>
							<div class="caption">
								<div class="image-title">Title #20</div>
								<div class="image-desc">Description</div>
							</div>
						</li>
					</ul>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
		
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				// We only want these styles applied when javascript is enabled
				$('div.navigation').css({'width' : '325px', 'float' : 'left'});
				$('div.content').css('display', 'block');

				// Initially set opacity on thumbs and add
				// additional styling for hover effect on thumbs
				var onMouseOutOpacity = 0.67;
				$('#thumbs ul.thumbs li').opacityrollover({
					mouseOutOpacity:   onMouseOutOpacity,
					mouseOverOpacity:  1.0,
					fadeSpeed:         'fast',
					exemptionSelector: '.selected'
				});
				
				// Initialize Advanced Galleriffic Gallery
				var gallery = $('#thumbs').galleriffic({
					delay:                     2500,
					numThumbs:                 15,
					preloadAhead:              10,
					enableTopPager:            true,
					enableBottomPager:         true,
					maxPagesToShow:            7,
					imageContainerSel:         '#slideshow',
					controlsContainerSel:      '#controls',
					captionContainerSel:       '#caption',
					loadingContainerSel:       '#loading',
					renderSSControls:          true,
					renderNavControls:         true,
					playLinkText:              'Play Slideshow',
					pauseLinkText:             'Pause Slideshow',
					prevLinkText:              '&lsaquo; Previous Photo',
					nextLinkText:              'Next Photo &rsaquo;',
					nextPageLinkText:          'Next &rsaquo;',
					prevPageLinkText:          '&lsaquo; Prev',
					enableHistory:             false,
					autoStart:                 false,
					syncTransitions:           true,
					defaultTransitionDuration: 900,
					onSlideChange:             function(prevIndex, nextIndex) {
						// 'this' refers to the gallery, which is an extension of $('#thumbs')
						this.find('ul.thumbs').children()
							.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
							.eq(nextIndex).fadeTo('fast', 1.0);
					},
					onPageTransitionOut:       function(callback) {
						this.fadeTo('fast', 0.0, callback);
					},
					onPageTransitionIn:        function() {
						this.fadeTo('fast', 1.0);
					}
				});
			});
		</script>


<div class="image_top_side">
<div><img src="http://nroer.gov.in/static/img/ciet.ncert/share_knoledge_2_Final.jpg" width="325px" height="435px"><p  align="left"><a href="http://nroer.gov.in/gstudio/resources/images/#imagecollections" class="event_btn">Download images</a><br/><br/><a href="http://nroer.gov.in/static/img/ciet.ncert/share_knowledge_1_FINAL.jpg" class="event_btn">Download form to Share Knowledge</a></div>
</div>


{% endblock %}
