{% load gstudio_tags i18n  %}
{% get_tags as nodetype_tags %}
{% load adminmedia  grp_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block DetectBrowser %}
<script type="text/javascript">
//function DetectBrowser()
//{
var pass="{{ request.session.proceed }}";

    if((pass=="True") || (navigator.userAgent.search("Firefox")>=0) || (navigator.userAgent.search("Chrome")>= 0))
    {
        
    }
    else if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0)
     {
        //window.location.href = "/home";
     }
     else
    {
     window.location.href = "/browserError";
    }
//}
//window.onbeforeunload=DetectBrowser
</script>
{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="/static/gstudio/css/home/style.css">
<script src="/static/gstudio/js/home/jquery-latest.js" type="text/javascript"></script>
<script src="/static/gstudio/js/jquery.autocomplete.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/gstudio/js/jquery.min.js" ></script>
<script type="text/javascript" src="/static/gstudio/js/jquery-ui.js" ></script>
<script type="text/javascript" src="/static/gstudio/js/underscore.js" ></script>
<script type="text/javascript" src="/static/gstudio/js/home/script_2.js"></script>
<script src="/static/gstudio/js/home/tabcontent.js" type="text/javascript"></script>
        <script type="text/javascript" src="/static/gstudio/js/home/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/org/set.js"></script>
	
	<script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/jquery.orgitdown.js"></script>

        <script type="text/javascript" src="{{STATIC_URL}}gstudio/js/loomscripts.js"></script>
	 <script type="text/javascript" src="/static/gstudio/js/home/jquery-1.7.2.min.js"></script>
	 <script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/org/set.js"></script>
	 
	 <script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/jquery.orgitdown.js"></script>

	 
	 <script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/savedata.js"></script>
	  <script type="text/javascript" src="/static/gstudio/js/home/jquery-1.7.2.min.js"></script>
	  <script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/sets/org/set.js"></script>
	  
	  <script type="text/javascript" src="{{STATIC_URL}}gstudio/js/orgitdown/orgitdown/jquery.orgitdown.js"></script>
	  
	  <script type="text/javascript" src="{{STATIC_URL}}gstudio/js/addcontent.js"></script>

	  <script type="text/javascript" src="/static/gstudio/js/home/jquery-1.7.2.min.js"></script>
 

<script type="text/javascript">

/*stepcarousel.setup({
galleryid: 'mygallery',
beltclass: 'belt',
panelclass: 'panel',
autostep: {enable:true, moveby:1, pause:3000},
panelbehavior: {speed:500, wraparound:true, wrapbehavior:'slide', persist:true},
defaultbuttons: {enable: true, moveby: 1, leftnav: ['/static/gstudio/img/home/left_scroll_btn.gif', -53, 5], rightnav: ['/static/gstudio/img/home/right_scroll_btn.gif', 7,5]},
statusvars: ['statusA', 'statusB', 'statusC'],
contenttype: ['inline'] 
})*/

</script>





<!-- the header lines from grappelli -->
{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />
{% endblock %}

<!-- STYLESHEETS -->
{% block stylesheets %}
                    
{% endblock %} 

<!-- EXTRASTYLES -->
{% block extrastyle %}{% endblock %} 

<!-- JAVASCRIPTS -->
{% block javascripts %}
<script type="text/javascript">
  // GLOBALS
  var isImage=false;
  var editImage=false;
  var isEditdoc = false;
  var isWikipage = false;

  var objid;
  var grappelli = {},
  // TODO: klemens: drop ADMIN_URL
  ADMIN_URL = "{% url admin:index %}",
  MODEL_URL_ARRAY = {% get_content_types %}, DATE_FORMAT = "{% get_date_format %}", TIME_FORMAT = "{% get_time_format %}", DATETIME_FORMAT = "{% get_datetime_format %}";
  </script>

<!-- EXTRAHEAD -->
{% block extrahead %}{% endblock %}

{% endblock %} 

<!-- the header lines from gstudio -->
{% block meta %}{% endblock %}

<link rel="pingback" href="/xmlrpc/" />
<link rel="shortcut icon" href="{{ STATIC_URL }}gstudio/img/favicon.ico" />
<link rel="home" href="{% url gstudio_nodetype_archive_index %}" />




 
{% block link %}{% endblock %}

{% block script %}{% endblock %} 
<title>NROER - {% block title %}{% endblock %}</title>
</head>

<body id="gstudio">
  <center><img id="ajax_load_image" width="50" style="display: none; position:fixed; top: 50%; left: 55%; margin-top: -50px; margin-left: -100px;z-index:1000;" src="{% admin_media_prefix %}grappelli/img/ajax-loader1.gif"></center>

  <div id="body" class="span-24 last">

    <div id="content_body2">
       
      <!--
 <div id="box1" align="center">
   <div class="logo_blank"></div>
   <img src="/static/gstudio/img/home/mhrdlogo.png" />
   <div class="logo_blank"></div>
<a href="#"><img src="/static/gstudio/img/home/nroerlogo.png" /></a>
<div class="logo_blank"></div>
<img src="/static/gstudio/img/home/ncertlogo.png" />
<div class="logo_blank"></div>
<div align="center"><a href="">About Us</a>&nbsp; <a href="">Terms of Use</a>&nbsp; <a href="">Contact Us</a></div> 
 </div>
-->

<!--New Addition-->
<div id="box1" align="center">
  <div class="logo_blank"></div>
  <img src="/static/gstudio/img/home/home_img/mhrdlogo.png" />
  <div class="logo_blank"></div>
<a href="/home/"><img src="/static/gstudio/img/home/home_img/nroerlogo.png" /></a>
<div class="logo_blank"></div>
<img src="/static/gstudio/img/home/home_img/ncertlogo.png" />
<div class="logo_blank"></div>
<div class="small_txt">
<a title="http://creativecommons.org/licenses/by-sa/3.0/" href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license"><img src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" style="border-width:0" alt="Creative Commons License"></a> 
					<p> <center> All material is licensed under a <a title="http://creativecommons.org/licenses/by-sa/3.0/" href="http://creativecommons.org/licenses/by-sa/3.0/" rel="license">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> unless mentioned otherwise.</center>
					</p></div>
 </div>
<!--New Addition-->





<div id="box2">
<!--New Placement-->
 <div id="breadcrumbs" class="breadcrumbs" >{% block breadcrumbs %}{% endblock %}</div><!--New Placement-->
{% block content %} <h3>The content block need to be overrided!</h3>
 {% endblock %}

<textarea id="gnoweditor" style="visibility:hidden;"></textarea>

{% block graph %}
<!--<div id="graphcss">
    <div id="chart">
      
      </div>-->
<script type="text/javascript" src="/static/gstudio/js/jquery.min.js" ></script>
<script type="text/javascript" src="/static/gstudio/js/jquery-ui.js" ></script>
<script type="text/javascript" src="/static/gstudio/js/underscore.js" ></script>
<script type="text/javascript" src="/static/gstudio/js/d3.js"></script>
<script type="text/javascript" src="/static/gstudio/js/d3.layout.js"></script>
<script type="text/javascript" src="/static/gstudio/js/d3.geom.js"></script>
<!-- <script type="text/javascript" src="/static/gstudio/js/force.js"></script>

     Javascript for Object type force graph
     -->

<script type="text/javascript" >
  var objectid = "{{object.id}}"

  function init(a,b)
  {
    nodes_by_id = _.reduce(a, function(acc, n) {
    acc[n._id] = n;
            return acc;
    }, {});
     
     
  all_edges=new Array();  

  //this contains all the links between the nodes
    all_edges =_(b).chain().map(function(e) {
          e.source = nodes_by_id[e.from];
          e.target = nodes_by_id[e.to];
  //`e.type = nodes_by_id[e.type]
   return e;
   }).filter(function(e){
  return nodes_by_id[e.from] && nodes_by_id[e.to]&& e.type!="title" && e.type!="content" && e.type!="has_text" && e.type!="has_image" && e.type!="has_video" && e.type!="has_document" && e.type!="has_presentation" && e.type!="has_html" && e.type!="has_spreadsheet" && e.type!="has_multimedia" && e.type!="has_pdf"  && e.type!="has_audio"
  }).value();
  }

  function fgraph() {
  neighbour_node= new Array();
  clicked_node=new Array();
  prev_node=new Array();
  neighbour_node= neighbour_node.concat(objectid);  

  $.getJSON('/nodetypes/graphs/graph_json/' + objectid, function (json1) { 
  metadata=json1.node_metadata;
  relations=json1.relations;
  
  init(metadata,relations);
  load(objectid) });
 
             }

  function load(key)
  {
  
  /*if (s > 0 ){
  var a = 50 * s;
  var w = 1000;
  var p = 140 + "%";
  var h = 650;
  var q = 3 * s + 75 + "%";
  }else{*/
  /*var w = 1000;
  var p = 98 + "%";
  var h = 650;
  var q = 100 + "%";*/
  //}
  var w = 600;
  var p = 140 + "%";
  var h = 550;
  var q = 110 + "%";
          fill = d3.scale.category20();
 
  var vis = d3.select("#chart")
          .append("svg:svg")
  .attr("id", "amazingViz") 
          .attr("width", p)
          .attr("height", q);

  vis.append("svg:g").attr("class", "edges");        
  vis.append("svg:g").attr("class", "nodes");
  
  nodes_by_id[key].x = w/2.0;
  nodes_by_id[key].y = h/2.0;
        
  var force = d3.layout.force()
                .linkStrength(1)
                .charge(-4000)
                .friction(0.7)
                .gravity(0.4)
                .linkDistance(50)
                .nodes([])
                .links([])
                .size([w, h])
                .start();
  
        function update(edges){
          // for each func
          _.each(nodes_by_id, function(n){n.added = false});
          // reduce the nodes list to have only those nodes for a given rel.
        nodes = _.reduce(edges, function(acc, e) {
            if(nodes_by_id[e.from] && !nodes_by_id[e.from].added){
              nodes_by_id[e.from].added = true;
              acc.push(nodes_by_id[e.from]);
     }
            if(nodes_by_id[e.to] && !nodes_by_id[e.to].added){
              nodes_by_id[e.to].added = true;
              acc.push(nodes_by_id[e.to]);
            }       
            return acc;
    }, []);
        
          force.nodes(nodes);
          force.links(edges);
          force.start();




          link = d3.select("#chart g.edges").selectAll("line.link").select(this.arrowhead)
            .data(edges, function(e){return e.from + "-" + e.to + "-" + e.type});
                
                  link.enter().append("svg:line")
            .attr("class", "link")
                    .style("stroke-width", 2 /* function(d) {
             return Math.sqrt(d.value);
             } */ )
                    .attr("x1", function(d) {
                  return d.source.x;
		  })
                  .attr("y1", function(d) {
                    return d.source.y;
                  })
                  .attr("x2", function(d) {
                    return d.target.x;
                 })
                  .attr("y2", function(d) {
		  return d.target.y;
                  })
                  .attr("text", function(d) {
                    return d.type;
                  })
		  .attr("marker-end", "url(#arrowhead)");
  
  


       
          
    var node = d3.select("#chart g.nodes").selectAll("g.node").data(nodes);  

      

 
          var new_g = node.enter().append("svg:a")
  .attr("class", function(d) { var e=(d._id).charAt(0); if (d._id==key) return "mainnode"; else if (e=="-") return "nodetext"; else if (isNaN(d._id)) return "relnode"  ; else return "node"; })         
      
        .call(force.drag);



       new_g.append("svg:marker")
                                .attr("id", "arrowhead")
                                .attr("viewBox","0 0 10 10")
                                .attr("refX","20")
                                .attr("refY","5")
                                .attr("markerUnits","strokeWidth")
                                .attr("markerWidth","9")
                                .attr("markerHeight","5")
                                .attr("orient","auto")
                                .append("svg:path")
                                .attr("d","M 0 0 L 10 5 L 0 10 z")
                                .attr("fill", "#6D6666"); 


$(window).bind('keydown',function(event) {
  if(event.keyCode==17){
   
   new_g.on("click",function(d){                  
      if(d._id>0 && d.expanded=="true" && d._id!= objectid)
  		{ 
  		 $.getJSON('/nodetypes/graphs/graph_json/' + d._id , function (json2) {
  		new_metadata=json2.node_metadata;
		});
                 _.filter(new_metadata, function(e){if(e._id>0) 
  			{
			    clicked_node=clicked_node.concat(e._id) ;   
                         }
                       });
   
  index = _.indexOf(neighbour_node , d._id);
  prev_node=neighbour_node.slice(0,index);
  neighbour_node = _.difference(neighbour_node,clicked_node) ;
  neighbour_node= neighbour_node.concat(prev_node);
  neighbour_node = _.uniq(neighbour_node);
  metadata=[]
  relations=[]
  metadata1=[]
  relations1=[]
  for(i=0;i<(neighbour_node.length);i++)
	      {
  	      d3.select("#amazingViz").remove();  
              g=neighbour_node[i]
  	      $.ajax({
	      async:false,
	      url:'/nodetypes/graphs/graph_json/' + g , 
	      datatype:'json',
	      success:function (json2) {
	      new_metadata=json2.node_metadata;
	      new_relations=json2.relations;
	      metadata=_.union(new_metadata,metadata);
	      
	      relations=_.union(new_relations,relations);
	      relations= check_Relationtype(metadata,relations); 
	      }});     
	      
	      }
	      _.each(metadata, function(m){
	      
	        for(i=0;i<neighbour_node.length;i++)
			    {
			    if(m._id==neighbour_node[i])
			    {m.expanded="true";}
			    else 
			    {m.expanded="false";}
			    }
                              });
			    
			    init(metadata,relations);
			    load(objectid) ;                        
                          }
			    else if(d._id>0 && d._id!= objectid)
			      {
  	                              
			      neighbour_node =neighbour_node.concat(d._id);
			      d3.select("#amazingViz").remove();  
			      $.ajax({
			      async:false,
			      url:'/nodetypes/graphs/graph_json/' + d._id , 
			      datatype:'json',
			      success:function (json2) {
			      new_metadata=json2.node_metadata;
			      new_relations=json2.relations;
			      metadata=_.union(new_metadata,metadata);
			      relations=_.union(new_relations,relations);
                              relations= check_Relationtype(metadata,relations);
			      _.each(metadata, function(m){
	      
	 		        for(i=0;i<neighbour_node.length;i++)
				    {
				    if(m._id==neighbour_node[i])
				    m.expanded="true";
				    }
	                     });
			     }});
			    //console.log(metadata);
			    init(metadata,relations);
			    load(objectid);
			   }
				});
			}

			});         



new_g.on("click", function(d) {

			    new_g.attr("xlink:href",function(d){return d.url;});
			    });


			      


			    text1 = new_g.append("svg:text")
			    .attr("class",function(d) {var e=(d._id).charAt(0); if (d._id==key){d.cls="mainnode"; return "mainnode";}else if (e=="-"){d.cls="nodetext"; return "nodetext";} else if (isNaN(d._id)){d.cls="relnode"; return "relnode";}  else{d.cls="node"; return "node";} })
                        .attr("y", 20)
			.attr("x", 25) 
			.attr("dy", ".35em")
                        .attr("text-anchor","middle") 
			.text(function(d,i) {
                           d.w=d.screen_name.toString().length;
			    //if(relations[i]["col"]=="false" || d.cls=="mainnode" || d.cls=="relnode")
			    return d.screen_name;
                        });  
			    
                bbox = text1.node().getBBox();

			    //var count=0;
			    //console.log(relations.toString());
			    new_g.filter(function(d,i) {//for each (x in d.relations){
			    //count=count+1;}
			    
			     return ((d._id).charAt(0)=="-"); }).append("svg:rect")
                             //.attr("x",function(d){ return (bbox.x+22+200/Math.pow(d.w,0.7))})
			    .attr("x",function(d){ return 23-Math.pow(d.w,1.37)})
			    .attr("y", bbox.y)
			           .attr("width", function(d) {var ttx=d.screen_name ; return (d.w*5+20)})
			    .attr("height", bbox.height)
			          .call(force.drag)
			          .style("fill-opacity", ".1")
			                          .style("stroke", "#000")
			          .style("stroke-width","1px");
			    
			    var s;
			    function E1(id,sname)
			    {
			    this.name = name;
			    this.id = 0;
			    }
			    //console.log("nodes by id  " +nodes_by_id[0]);
			    var col_txt = _(relations).chain().map(function(e){
			    //var a = e.to;
			  //  console.log("e.to " + nodes_by_id[e.to]["screen_name"] );
			    var e1 = new E1();
			    e1.id = e.to;
			    e1.sname = nodes_by_id[e.to]["screen_name"];
			    return e1;
			    }).value();


			    var s=new Array();
			   // console.log("col_txt " + col_txt[1].id);
			    
			    new_g.filter(function(d,i) {
			    var j = 0;
			    while(col_txt[++j]!=null)
			    {
			    if(col_txt[j].id == relations[i]["to"])
			    {
			    s[i] = col_txt[j].sname;
			    //if(col_txt[j].sname=="software freedom")
			    //console.log("check "+relations[i]["col"]+col_txt[j].sname);
			    break;
			    }
			    }
			    //console.log("s : " + s + ' relations[i]["to"] ' + relations[i]["to"]);
			    return relations[i]["col"] == "true"})
			    .append("svg:text")
			    .attr("x",20)
			    .attr("y", 45)
			    //.text(function(d,i){ return s[i];})
			    .call(force.drag)
			    .attr("dy", ".35em")
			                    .attr("text-anchor","middle") 
			    //console.log("screen name"+s);
			    var st='';
			    for(i=1;i<5;i++){
					st+=(s[i]+"\n");
					}
					//console.log("final string :" +st);
					
					//var p = d3.select("#chart").append("svg").attr("width",500).attr("height",200);
					//var g = p.append("g")
					//.call(force.drag)
					//.attr("transform","scale(0)");

					/*var rect = g.append("rect")
					.attr("width",300)
					.attr("height",100)
					.style("fill-opacity", ".1")
					.style("stroke", "#000")
					.style("stroke-width","1px");
					
					var text = g.append("text").attr("x",25).attr("y",50).text(st);
					g.transition().duration(500).attr("transform","scale(1)");*/


					//new_g.filter(function(d) {return d._id});
					var arr = new_g.filter(function(d) {//for each (x in d.relations){
					//count=count+1;}
					//console.log(d."relations.type.toString());
							 
					  return (d.type) });
			         	  var arr1 = eval(arr);

				 	 for(i=0;relations[i]!=null;i++)
					  {
						 // console.log("TYPE " + relations[i]["type"] + " COL " + relations[i]["col"]);
					   }
				        new_g.filter(function(d) { 
					return (d._id)>0;}).append("svg:ellipse")
					.attr("cx", function(d){return (23 + Math.pow(d.w,0.33))})
					.attr("cy", bbox.y+11)
					.call(force.drag)
					.attr("rx",function(d) {var ttx=d.screen_name ; return (d.w*5+15)})
					.attr("ry",13)
					.style("fill-opacity", "0.3")
					.style("stroke", "white")
					.style("stroke-width", "0.0px")
			                .style("fill", function(d) {if ((d.expanded=="true" && d.refType=="Objecttype") ||(d._id==objectid) ) return "blue"; else if(d.expanded=="true" && d.refType=="Gbobject") return "red"; else return "none"});
					node.exit().remove();
				        force.on("tick", function() {
                                        var x_center = $("#chart").width() / 2;
				        var y_center = $("#chart").height() / 2;

				          link.attr("x1", function(d) { return d.source.x; })
				            .attr("y1", function(d) { return d.source.y; })
				            .attr("x2", function(d) { return d.target.x; })
				            .attr("y2", function(d) { return d.target.y; });

				          node.attr("transform", function(d) { return "translate(" + (d.x-16) + "," + (d.y-16) + ")"; });

       					 });
      					}

         
      
      update(all_edges);

      vis.style("opacity", 1e-6)
              .transition()
              .duration(1000)
              .style("opacity", 1);
      
  
      document.getElementById('chart_ajax_image_custom').style.display = 'none';


}

function check_Relationtype(metadata,relations)
{


_.each(metadata,function(d){
    if (d.refType=="Relationtype")
				 { 
				   a=d.inverse;
				     if (d.flag==1)
				       {
				       relations= _.reject(relations,function(e)
				            {
					    return e.type==a
					         });
						   }
						             else if (d.flag==0)
							       {
							       relations= _.reject(relations,function(e)
							            {
								    return e.type==d.screen_name
								         });
									   }
									   }
									    
									    }); 
return relations;

}
$(fgraph());

</script>
<!--</div>-->
{% endblock %}

 </div>

<div id="sidebardetails">
{% block sidebardetails %}
{% endblock %}          
</div>
<div class="clear"></div>



</div>
<div class="clear"></div>

  </div>
    <!--New Addition--><div class="clear"></div><!--New Addition-->
           </div>
<!--New Addition-->
<div class="top_nav">
<div id="content_bottom_nav">
<div class="left"><a href="/AboutUs/">About Us</a><span class="white_clr">l</span><a href="/TermsOfUse/">Terms of Use</a><span class="white_clr">l</span><a href="/ContactUs/">Contact Us</a><span class="white_clr">l</span>{% if not user.is_authenticated %}<a href="/accounts/login/?next={{request.path}}">Login</a>{% else %}<a href="/accounts/logout/">Logout</a>{% endif %}{% if user.is_superuser %}<span class="white_clr">l</span><a href="/dashboard">Dashboard</a>{% endif %}</div>
<div class="right">Powered by: <a href="https://github.com/gnowledge/ncert_nroer" target="_blank">Gnowsys-Studio</a>, <a target="_blank" href="http://www.hbcse.tifr.res.in">Homi Bhabha Centre for Science Education</a>, <a target="_blank" href="http://www.tifr.res.in">TIFR</a></div>
</div>
</div> 
<!--New Addition-->


</body>
</html>
