{% extends "gstudio/base.html" %}

{% block title %}Turtle Art{% endblock %}
{% block content %}


<div id="joindots_event" style="position:relative;"><img src="/static/gstudio/img/turtlepatterns.jpg">
<a style="border-radius: 50px;
    display: block;
    height: 80px;
    left: 48px;
    position: absolute;
    top: 862px;
    width: 310px;" alt="Click here for Turtle Art" title="Click here for Turtle Art" href="http://llk.media.mit.edu/courses/software/turtleart/" target="_blank"></a>
<a style="border-radius: 50px;
    display: block;
    height: 80px;
    left: 400px;
    position: absolute;
    top: 865px;
    width: 275px" alt="Share your creativity" title="Share your creativity" href="http://nroer.gov.in/ContributeResourceForm/"></a>
</div>

{% endblock %}
