{% extends "gstudio/base.html" %}

{% block title %}Turtle Art{% endblock %}
{% block content %}


<div id="joindots_event" style="position:relative;"><img src="/static/gstudio/img/turtlepatterns.jpg">
<a style="height: 80px;
    left: 200px;
    position: absolute;
    top: 835px;
    width: 310px;display:block;border-radius:50px;" alt="Click here for Turtle Art" title="Click here for Turtle Art" href="http://llk.media.mit.edu/courses/software/turtleart/" target="_blank"></a>
</div>

{% endblock %}
