{% extends "gstudio/base.html" %}

{% block title %}Voice to masses{% endblock %}

{% block content %}
<div>
<div class="event_border">
<div class="event_blue">
<div class="left">
<p class="event_3_heading">Voice to masses</p>
<div class="event3_quote">
	<div>"The first step towards change is awareness"</div>
        <div class="event3_name">― Nathaniel Branden</div>
</div>
</div>
<div class="right"><div class="polaroid"><img src="/static/gstudio/img/voice.jpg" width="150px" height="140px"></div></div>
<div class="clear"></div>
</div>
<div>
<div class="event3_textsize">
With wide access and use of computers and new media technologies, it has become very easy to communicate with a number of people at the same time and share our views or messages too. NCF 2005 emphasizes that the knowledge should be connected to the life outside the school too. There are so many things which are happening around us in our society and to be able to understand and critically analyze such situations, the awareness on such issues becomes the pre-requisite. So you can choose a socially relevant issue, prepare a small skit on it (in group), perform it in your school and record it. Share your script or a video recording of the skit with us which should not be more than 15 minutes duration. 
<div align="center" style="margin-top:20px;"><img src="http://nroer.gov.in/static/img/ciet.ncert/voice-to-masses-image.jpg" width="430px" height="610px"></div>

<div class="blank2"></div>
<div class="left">For sharing resources: <u><a href="/accounts/register/">Register</a></u></div>
<div class="right"><a href="/accounts/login/"><u>Login</u></a></div>
<div class="clear"></div>

<p>For uploading video: <a href="/gstudio/resources/videos/#videocollections"><u>click here</u></a></p>

<p>For sharing Audio/Document/Interactive Object : Mail it to us on <a href="mailto:nroer.ciet@gmail.com"><u>nroer.ciet@gmail.com</u></a></p>

</div>
</div>
</div>
</div>


{% endblock %}
