{% extends "objectapp/base.html" %}
{% load i18n  objectapp_tags %}
{% load gstudio_tags tagging_tags comments i18n %}
{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  {% with object.previous_gbobject as previous_gbobject %}{% if previous_gbobject %}
  <link rel="prev" title="{{ previous_gbobject.title }}" href="{{ previous_gbobject.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% with object.next_gbobject as next_gbobject %}{% if next_gbobject %}
  <link rel="next" title="{{ next_gbobject.title }}" href="{{ next_gbobject.get_absolute_url }}" />
  {% endif %}{% endwith %}
  <link rel="shortlink" href="{{ object.short_url }}" />
  <link rel="canonical" href="{{ object.get_absolute_url }}" />
  {% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'"
        href="{% url objectapp_gbobject_discussion_feed year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'"
        href="{% url objectapp_gbobject_comment_feed year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'"
        href="{% url objectapp_gbobject_pingback_feed year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'"
        href="{% url objectapp_gbobject_trackback_feed year month day object.slug %}" />
  {% endwith %}
{% endblock %}


{% block content %}
 <style type="text/css">

  .span-16
   {
    width:500px;
    }
  #content 
  {
	width:500px;
  }
  .commentForm
   {
	width : 200px;
    }
   
#graphcss {
   
	margin-left: 500px;
   }
  </style>
{% block gbobject-content %}

  {% with object.html_content|safe as object_content %}
  {% include "objectapp/_gbobject_detail.html" %}
<div id="gbobject-{{ object.pk }}" class="hgbobject{% if object.featured %} featured{% endif %} span-16 last">
  <div class="gbobject-header span-16 last">
     
           <table border="1" cellspacing="0">
	<b>Versions:&nbsp;</b>
        {% for sid in object.ref.get_ssid  %}
	   
	      
	     <a href="/objects/display/viewhistory/{{ sid }}/{{ forloop.counter }}" title= "{{ object.title }} {{ object.id }}.{{ forloop.counter }}" style="color:#FFA500"><b>+</b></a> &nbsp;
	 
        {% endfor %}
	   </table>
	
    <p class="gbobject-info">
      {% if object.ref.authors.count %}
      {% trans "Written by" %}
      {% for author in object.ref.authors.all %}
      <span class="vcard author">
        <a href="{% url objectapp_author_detail author %}" class="fn nickname url" rel="author"
           title="{% blocktrans with author as author %}Show {{ author }} gbobjects{% endblocktrans %}">{{ author }}</a>
      </span>{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% trans "on" %}
      {% else %}
      {% trans "Written on" %}
      {% endif %}
      <abbr class="published" title="{{ object.creation_date|date:"c" }}Z">{{ object.creation_date|date:"DATE_FORMAT" }}</abbr>
      {% if object.objecttypes.count %}
      {% trans "in" %}
      {% for Objecttype in object.objecttypes.all %}
      <a href="{{ Objecttype.get_absolute_url }}" title="{{ Objecttype }}" rel="tag Objecttype">{{ Objecttype }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}.
    </p>

</div>


<p>
             <b>Name: </b> {{ object.title }} <br/>


               {% if object.get_rendered_nbh.plural %}
                                <b> Plural Name :<nbsp></b>
                                         {{object.get_rendered_nbh.plural}} <br/>
                           {% endif %}
                            {% if object.get_rendered_nbh.altnames %}
                               <b> Alternate names :<nbsp></b>
                                         {{object.get_rendered_nbh.altnames}} <br/>
{% endif %}
              
              {% if object.get_rendered_nbh.member_of %}
                           
                          
                                <b> Member of :<nbsp></b>

                                    {% for mkey,mvalue in object.get_rendered_nbh.member_of.items %}
                                        <a href="{{mvalue}}">{{mkey}}</a>;
                                    {% endfor %}<br/>
                           {% endif %}
			{% if object.content %}
                            <b>
					Content:<nbsp></b>
				
				         <!-- <input type="button" id="editdata" value="Edit Content"/><nbsp><nbsp> 
					  <input type="button" id="savecontent" value="Save Content"/>-->
					 <input type="hidden" id="objectid" value="{{object.id}}"/>
		                          
					  <input type="hidden" id="title" value="{{object.title}}"/>
					  <input type="hidden" id="orgcontent" value="{{object.content_org}}"/>
					
					</b>
				   	{{object_content}}<br/>

					{% else %}
						<b>
					Content:<nbsp></b> <!--<input type="button"id="editdata"value="Edit Content"/><nbsp><nbsp>
					  <input type="button" id="savecontent" value="Save Content"/>-->
					  <input type="hidden" id="objectid" value="{{object.id}}"/>
		
					  <input type="hidden" id="title" value="{{object.title}}"/>
					  <input type="hidden" id="orgcontent" value="{{object.content_org}}"/>
				        </b>
					{{object_content}}<br/>
					
                          {% endif %}
		

              {% if object.get_rendered_nbh.relations %}
                         
                         
                                 {% for relkey,relvalue in object.get_rendered_nbh.relations.items %}
                                          <b>{{relkey}}:<nbsp></b>
{% for relk, relv in relvalue.items %}
<a href="{{relv}}">{{relk}}</a>;
                                        {% endfor %}<br/>
{% endfor %}
{% endif %}
                           
                           {% if object.get_rendered_nbh.attributes %}
			   {% for atkey,atvalue in object.get_rendered_nbh.attributes.items %}
                                 {% if atvalue %}
			    <b>     {{atkey}}:<nbsp></b>
                                    
				    {% for items in atvalue %}
					{{items}};<nbsp>
                                    {% endfor %}
                                 {% endif %}<br/>
			{% endfor %}                         
			{% endif %}

</p>

</div>
  

  <div class="gbobject-body span-16 last">
    {% if object.image %}
    <div class="gbobject-image">
      <p>
        <a href="{{ object.get_absolute_url }}" rel="bookmark">
<img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
        </a>
      </p>
    </div>
    {% endif %}
    <div class="gbobject-content">
 
    </div>
  </div>

  <div class="gbobject-footer">
    <p class="gbobject-tags span-16 last">
      <strong>{% trans "Tags" %}</strong> :
      {% tags_for_object object as tag_list %}
      {% for tag in tag_list %}
      <a href="{% url objectapp_tag_detail tag %}"
         title="Tag {{ tag }}" rel="tag">{{ tag }}</a>
      {% empty %}
      <span>{% trans "No tags" %}</span>
      {% endfor %}
    </p>

    <p class="gbobject-shorturl span-16 last">
      <strong>{% trans "Short url" %}</strong> :
      <a href="{{ object.short_url }}" title="{{ object.title }}" rel="shortlink">
        {{ object.short_url }}
      </a>
    </p>

    <p class="gbobject-comments span-16 last">
      <strong>{% trans "Discussions" %}</strong> :
      {% with object.comments.count as comment_count %}
      {% if comment_count %}
      <a href="{{ object.get_absolute_url }}#comments" title="{{ object.title }}">
        {% blocktrans count comment_count as comment_count %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktrans %}
      </a>
      {% else %}
      {% if object.comments_are_open %}
      {% trans "No comments yet." %}
      <a href="{{ object.get_absolute_url }}#comments" title="{{ object.title }}">
        {% trans "Be first to comment!" %}
      </a>
      {% else %}
      {% trans "Comments are closed." %}
      {% endif %}
      {% endif %}
      {% endwith %}
      {% with object.pingbacks.count as pingback_count %}
      {% if pingback_count %}
       <a href="{{ object.get_absolute_url }}#pingbacks" title="{{ object.title }}">
        {% blocktrans count pingback_count as pingback_count %}{{ pingback_count }} pingback{% plural %}{{ pingback_count }} pingbacks{% endblocktrans %}
      </a>
      {% endif %}
      {% endwith %}
      {% with object.trackbacks.count as trackback_count %}
      {% if trackback_count %}
       <a href="{{ object.get_absolute_url }}#trackbacks" title="{{ object.title }}">
        {% blocktrans count trackback_count as trackback_count %}{{ trackback_count }} trackback{% plural %}{{ trackback_count }} trackbacks{% endblocktrans %}
      </a>
      {% endif %}
      {% endwith %}
    </p>
  </div>
<!-- nbh code -->
	

  {% endwith %}
{% endblock %}


<br/>
<p><br/>
<b>AddAttributes: </b> 
<input type="hidden" id="id_object" value="{{ object.title }}"/>
{% for i in object.getattributetypes %}
<a href="{{ get_absolute_url }}/objects/dynamicAttribute/save/{{ i }}/{{ object.title }}/">{{ i }}</a><nbsp>;
{% endfor %}
</p>
<p>
<b>Add Relations: </b>
{% for i in object.getrelationtypes %}
<a href=" {{ get_absolute_url }}/objects/dynamicRelation/displaymem/{{ i }}/{{ object.title }}/">{{ i }}</a><nbsp>;
{% endfor %}
</p>

{% block gbobject-widgets %}
<div class="gbobject-widgets span-16 last">
  {% with object.next_gbobject as next_gbobject %}
  {% if next_gbobject %}

  <div class="gbobject-next">
    <h3>{% trans "Next object" %}</h3>
    <ul>
      <li>
<a href="{{ next_gbobject.get_absolute_url }}" title="{{ next_gbobject.title }}" rel="next">
{{ next_gbobject.title }}

</a>
      </li>
    </ul>
  </div>
  {% endif %}
  {% endwith %}



  {% with object.previous_gbobject as previous_gbobject %}
  {% if previous_gbobject %}
  <div class="gbobject-previous">
    <h3>{% trans "Previous object" %}</h3>
    <ul>
      <li>
<a href="{{ previous_gbobject.get_absolute_url }}" title="{{ previous_gbobject.title }}" rel="prev">
{{ previous_gbobject.title }}
</a>
      </li>
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {% if object.related_published %}
  <div class="gbobject-related">
    <h3>{% trans "Related objects" %}</h3>
    <ul>
      {% for gbobject in object.related_published %}
      <li>
<a href="{{ gbobject.get_absolute_url }}" title="{{ gbobject.title }}" rel="bookmark">{{ gbobject.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="gbobject-similar">
    <h3>{% trans "Similar objects" %}</h3>
    {% get_similar_gbobjects 5 %}
  </div>
</div>
{% endblock %}
 

{% block gbobject-comments %}
<div id="comments" class="span-16 last">
  <h3>{% trans "Comments" %}</h3>
  {% with object.comments as comment_list %}
  {% if comment_list.count %}
  <ol id="comment-list" class="span-15 last">
    {% for comment in comment_list %}
    <li id="comment_{{ comment.pk }}" class="comment vcard {% cycle box1,box2 %}{% if comment.user in object.authors.all %} post-author{% endif %} span-15 last">
      <div class="span-2">
<img src="{% get_gravatar comment.email 60 "G" %}" class="gravatar photo" alt="{{ comment.user_name }}"/>
      </div>
      <div class="comment-body span-13 last">
<div class="comment-author span-13 last">
{% if comment.url %}
<a href="{{ comment.url }}" class="fn url">{{ comment.user_name }}</a>
{% else %}
{{ comment.user_name }}
{% endif %}
{% trans "on" %} {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}
</div>
<div class="span-13 last">
{{ comment.comment|linebreaks }}
</div>
      </div>
    </li>
    {% endfor %}
  </ol>
    {% if not object.comments_are_open %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if object.comments_are_open %}
  <p>{% trans "No comments yet." %}</p>
    {% else %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% endif %}
  {% endwith %}
</div>
{% endblock %}




{% block gbobject-pingbacks %}
<div id="pingbacks" class="span-16 last">
  <h3>{% trans "Pingbacks" %}</h3>
  {% with object.pingbacks as pingback_list %}
  {% if pingback_list.count %}
  <ol id="pingback-list" class="span-15 last">
    {% for pingback in pingback_list %}
    <li id="pingback_{{ pingback.pk }}" class="pingback {% cycle box1,box2 %} span-15 last">
      <div class="pingback-body span-15 last">
<div class="pingback-author span-15 last">
<a href="{{ pingback.url }}">{{ pingback.user_name }}</a>
{% trans "on" %} {{ pingback.submit_date|date:"SHORT_DATETIME_FORMAT" }}
</div>
<div class="span-15 last">
<cite>
{{ pingback.comment }}
</cite>
</div>
      </div>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
    {% if object.pingback_enabled %}
  <p>{% trans "Pingbacks are open." %}</p>
    {% else %}
  <p>{% trans "Pingbacks are closed." %}</p>
    {% endif %}
  {% endwith %}
</div>
{% endblock %}


{% block gbobject-trackbacks %}
{% with object.trackbacks as trackback_list %}
{% if trackback_list.count or object.pingback_enabled %}
<div id="trackbacks" class="span-16 last">
  <h3>{% trans "Trackbacks" %}</h3>
  {% if trackback_list.count %}
  <ol id="trackback-list" class="span-15 last">
    {% for trackback in trackback_list %}
    <li id="trackback_{{ trackback.pk }}" class="trackback {% cycle box1,box2 %} span-15 last">
      <div class="trackback-body span-15 last">
<div class="trackback-author span-15 last">
<a href="{{ trackback.url }}">{{ trackback.user_name }}</a>
{% trans "on" %} {{ trackback.submit_date|date:"SHORT_DATETIME_FORMAT" }}
</div>
<div class="span-15 last">
<cite>
{{ trackback.comment }}
</cite>
</div>
      </div>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
    {% if object.pingback_enabled %}
  <p>
    <a href="{% url objectapp_gbobject_trackback object.pk %}" rel="trackback">
      {% trans "Trackback URL" %}</a>
  </p>
    {% endif %}
</div>
{% endif %}
{% endwith %}
{% endblock %}



{% block gbobject-comments-form %}
{% if object.comments_are_open %}
<div class="commentForm span-16 last">
  {% render_comment_form for object %}
</div>
{% endif %}
{% endblock %}

{% endblock %}


{% block admin_tools %}
{% if perms.objectapp.change_gbobject %}
<li>
  <a href="{% url admin:objectapp_gbobject_change object.pk %}" title="{% trans "Edit the object" %}">
    {% trans "Edit the object" %}
  </a>
</li>
{% endif %}
{% endblock %}





