{% load i18n comments gstudio_tags %} 
{% load adminmedia grp_tags %}
{% load gstudio_tags %}
	 
	     {% for each in objset %}
	     <li class="list"> <a href={{each.get_view_object_url}}>{{each.title}}</a></li>
	     {% endfor %}
              {% if collection %}
		 <input type="button" class="addtodrawer" value="Edit Collection" name="addtodrawer"/>
		 <input type="button" class="htmlexport" value="Export as HTML"/>
		 {% else %}
		 <input type="button" class="addtodrawer" value="Create Collection" name="addtodrawer"/>
		 <input type="button" class="htmlexport" value="Export as HTML"/>
		 {% endif %}

	 
