{% extends "gstudio/base.html" %}
{% load i18n comments gstudio_tags %}
{% load adminmedia grp_tags %}
{% load gstudio_tags %}
{% load pagination_tags %}
{% load i18n objectapp_tags %}
{% load tagging_tags comments i18n %}
{% block title %}{{ page_ob.title }}{% endblock %}
{% block content %}
<script type="text/javascript" >

function getGraph()
	{

		$("#view1").html("<div id='chart'></div>");
                 load({{object.id}}); 
		$("li").prop("onclick", null);
	}
     
$(window).load(function() {
 $(".savepagecontent").hide();
 $("#saveseccontent").hide();
 $("#savesubsec").hide();
 $("#savesubsec1").hide();
 $(".submitresponse").hide();
 $(".saveseccontent").hide();
 $(".savecontent").hide(); 
 $(".savesubsec").hide();
 $(".submitsubsec").hide();
 $(".pagedit").hide()
$(".savesubsec1").hide();
 $(".submitsubsec1").hide();
  });
</script>
      
  <script type="text/javascript" >
	$(document).on('click',"#lstvalue",function(){
	//$("#lstvalue").live('click',function(){

	$("#collection").hide();
	opts = lstBox2.options, len = opts.length;
	if (len == 0){
        arr=[];
        arr1=[];
	
	}
	else{
        arr1=[];
	for (var i = 0; i < len; i++) {
	      arr[i] = "'"+opts[i].value+"'";
	      arr1[i]=opts[i].id;
			    }}
	 var abc1=arr1.join(',');
	 
	 	      
	 if (abc1){
	 var abc=abc1;
	 
	 }
	 else{
	 var abc=null;
	 }

	 var wtitle= document.getElementById("ptitle").value;
	 var collection= document.getElementById("iscollection").value; 
			      $.ajax({
       			      url: '/gstudio/ajax/draweradd/',
       			      data:{'title':abc,'wtitle':wtitle,'collection':collection},
                              beforeSend: function() {
                              $("#ajax_load_image").show();
                            
			      $("#content").css({"opacity":"0.1",})
	   
                              },
       			      
       			      success: function(data) {
	                      $("#coll").html(data);
			      $(".addtodrawer").show();
			      $("#chart").text("");
		  	      fgraph();
       			      
       			    },
                             complete: function(){
                             $("#ajax_load_image").hide();
			      $("#content").css({"opacity":"",})
			      
	             }       
       });
			      
	 });
	 $(document).on('click',".htmlexport",function(){
	//$(".htmlexport").live('click',function(){	 
	 
	 var ptitle= document.getElementById("ptitle").value;
	

	 opts = lstBox2.options, len = opts.length;
	 if (len == 0){
         arr=[];
         arr1=[];
	 
	 }
	 else{
	 for (var i = 0; i < len; i++) {
	       arr[i] = "'"+opts[i].value+"'";
	       arr1[i]=opts[i].id;
			    }}
	  var abc1=arr.join(',');
	  	      
	  if (abc1){
	  var abc=abc1;
	  }
	  else{
	  var abc="null";
	  }
	 $.ajax({
	 url: '/gstudio/ajax/htmlexport/',
	 data:{'ptitle':ptitle,'title':abc},
	 beforeSend: function() {
         $("#ajax_load_image").show();
                            
	 $("#content").css({"opacity":"0.1",})
	  },
       			      
         success: function(data) {
	 $("#coll1").html(data);	 
	 
	 },
         complete: function(){
         $("#ajax_load_image").hide();		      
         $("#content").css({"opacity":"",})
			      
	  }       
	 	 });
	 });
			      
	</script>
<style>
<link href="{% admin_media_prefix %}css/base.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}gstudio/css/screen.css" />
</style>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/gstudio/js/tabcontent.js" type="text/javascript"></script>
    <link href="/static/gstudio/css/tabcontent.css" rel="stylesheet" type="text/css" />
 <h2>  <font id="fonttitleid" >{{ page_ob.title }} </font> {% if user.is_authenticated %} {% edit_title page_ob.id page_ob.title %} {% endif %}</h2>
{% with page_ob.html_content|safe as page_ob_content %}
         <div><i> {{ page_ob_content|striptags|truncatewords:"20" }}</i></div>
         {% endwith %}

    <div style="width: 100%; margin: 0 auto; padding: 0px 0 0px; font: 1.0em arial;">
        <ul class="tabs" persist="true">
            <li onclick="getGraph();"><a href="#" rel="view1">Concept View</a></li>
             <li><a href="#" rel="view2">Related Topic</a></li>
            <li><a href="#" rel="view3">Resources</a></li>
            <li><a href="#" rel="view4">Comments</a></li>
	        {% if user.is_authenticated %}
	        <li><a href="#" rel="view5">Edit</a></li>
		    {% endif%}
        </ul>
        <div class="tabcontents">
            <div id="view1" class="tabcontent">
	      <div id="chart"></div>
              
            </div>
            <div id="view2" class="tabcontent">
	       {% include "metadashboard/graphText.html"%}
	    </div>
            <div id="view3" class="tabcontent">
               {% include "metadashboard/wikiResources.html" %} 
            </div>
            <div id="view4" class="tabcontent">
             {% include "metadashboard/wikicomment.html"%}
	         </div>
	        {% if user.is_authenticated %}
	        <div id="view5" class="tabcontent">
		  {% include "metadashboard/test2.html"%}
	         </div>
		    {% endif %}

</div>
{% endblock%}
