{% load gstudio_tags %}
{% load adminmedia grp_tags %}
{%  for key,value in page_ob.get_relations_for_view.items %}

	{% if key == 'has_text' %}
	<p><img src="{{STATIC_URL}}gstudio/img/text.png" alt="Texts" title="Texts"/> </p>
	{% endif %}

	{% if key == 'has_audio' %}
	<p style="padding:5px;background: linear-gradient(#eaeaea, #fff);"><img alt="Audios" src="/static/gstudio/img/home/home_img/audio.png" style="border: 1px solid #8FB4BC;border-radius: 3px;width:50px;height:30px;"> &nbsp;&nbsp;<span style="color: #1F768F;font-size: 16px;position:relative;top:-10px;margin-bottom:10px;">Audios</p>
	{% endif %}
	
	{% if key == 'has_pdf' %}
	<p><img src="{{STATIC_URL}}gstudio/img/pdf-icon.jpg" alt="PDF" title="PDF"/></p>

	{% endif %}

        {% if key == 'has_image' %}
	<p style="padding:5px;background: linear-gradient(#eaeaea, #fff);"><img alt="Images" src="/static/gstudio/img/home/home_img/images.png" style="border: 1px solid #8FB4BC;border-radius: 3px;width:50px;height:30px;"> &nbsp;&nbsp;<span style="color: #1F768F;font-size: 16px;position:relative;top:-10px;margin-bottom:10px;">Images</p>

	{% endif %}

	{% if key == 'has_video' %}

	<p style="padding:5px;background: linear-gradient(#eaeaea, #fff);"><img alt="Videos" src="/static/gstudio/img/home/home_img/video.png" style="border: 1px solid #8FB4BC;border-radius: 3px;width:50px;height:30px;"> &nbsp;&nbsp;<span style="color: #1F768F;font-size: 16px;position:relative;top:-10px;margin-bottom:10px;">Videos</p>
	{% endif %}

	{% if  key == 'has_document'  %}
	<p><img src="{{STATIC_URL}}gstudio/img/documents.jpg" alt="Documents" title="Documents"/></p>
	{% endif %}

	{% if  key == 'has_presentation'  %}
	<p><img src="{{STATIC_URL}}gstudio/img/ppt.jpg" alt="Presentations" title="Presentations"/></p>
	{% endif %}

	{% if  key == 'has_spreadsheet'  %}
	<p><img src="{{STATIC_URL}}gstudio/img/spreadsheet.jpg" alt="Spreadsheets" title="Spreadsheets"/></p>

	{% endif %}

	{% if  key == 'has_multimedia'  %}
	<p style="padding:5px;background: linear-gradient(#eaeaea, #fff);"><img alt="Interactive" src="/static/gstudio/img/home/home_img/interactive.png" style="border: 1px solid #8FB4BC;border-radius: 3px;width:50px;height:30px;"> &nbsp;&nbsp;<span style="color: #1F768F;font-size: 16px;position:relative;top:-10px;margin-bottom:10px;">Interactives</p>

	{% endif %}

	{% if  key == 'has_html'  %}
	<p style="padding:5px;background: linear-gradient(#eaeaea, #fff);"><img alt="Documents" src="/static/gstudio/img/home/home_img/documents.png" style="border: 1px solid #8FB4BC;border-radius: 3px;width:50px;height:30px;"> &nbsp;&nbsp;<span style="color: #1F768F;font-size: 16px;position:relative;top:-10px;margin-bottom:10px;">Documents</p>	
	{% endif %}

<table width="100%">
    <tr>
	{% for k  in value %}
		{% if  key == 'has_image'  %}
<td align="center">
<a href="{{k.url}}"><img src="{% admin_media_prefix %}img/{{k.image|cut:'.jpg'|cut:'.png'|cut:'.JPG'|cut:'.JPEG'|cut:'.jpeg'|cut:'.svg'|cut:'.tif'|cut:'.gif'|cut:'.ogv'}}-thumbnail" alt="{{k.title}}" ><br/>{{k.title}}</a>
<td>
	     
    {% if not forloop.last and forloop.counter|divisibleby:"5" %}
	
</tr>
  {% endif %}
{% endif %}

		{% if  key == 'has_audio'  %}
			<div style="font-size:13px;font-weight:bold;"><a href="{{k.url}}">{{k.title}}</a>,&nbsp;</div>
		{% endif %}	
		
		{% if  key == 'has_video'  %}

<td align="center">
 <a href="{{k.url}}">
        <img src="http://wetube.gnowledge.org/{{k.slug}}/icon128.jpg" alt="{{ k.title }}" style="border-radius: 10px 10px 10px 10px;" title="{{ k.title }}"><br/>{{k.title}}</a>
<td>
	     
    {% if not forloop.last and forloop.counter|divisibleby:"5" %}
	
</tr>
  {% endif %}

		{% endif %}
		
		{% if  key == 'has_document'  %}
			<a href="{{k.url}}">{{k.title}}</a>,&nbsp;
		{% endif %}
		
		{% if  key == 'has_text'  %}
			<a href="{{k.url}}">{{k.title}}</a>,&nbsp;
		{% endif %}

		{% if  key == 'has_pdf'  %}
			<a href="{{k.url}}">{{k.title}}</a>,&nbsp;
		{% endif %}
			
		{% if  key == 'has_presentation'  %}
			<a href="{{k.url}}">{{k.title}}</a>,&nbsp;
		{% endif %}	

		{% if  key == 'has_spreadsheet'  %}
			<a href="{{k.url}}">{{k.title}}</a>,&nbsp;
		{% endif %}
			
		{% if  key == 'has_multimedia'  %}
			<div style="font-size:13px;font-weight:bold;"><a href="{{k.url}}">{{k.title}}</a>,&nbsp;</div>
		{% endif %}

		{% if  key == 'has_html'  %}
			<div style="font-size:13px;font-weight:bold;"><a href="{{k.url}}">{{k.title}}</a>,&nbsp;</div>
		{% endif %}
	
	{% endfor %}
</tr>
</table>
<!--
<table width="100%">
    <tr>
{% for k  in value %}
{% if  key == 'has_image'  %}
        <td class="gbobject-image1" id = "{{image1.id}}"><a href="{{k.url}}"><img src="{% admin_media_prefix %}img/{{k.image|cut:'.jpg'|cut:'.png'|cut:'.JPG'|cut:'.JPEG'|cut:'.jpeg'|cut:'.svg'|cut:'.tif'|cut:'.gif'|cut:'.ogv'}}-thumbnail" alt="{{k.title}}"><br/>{{k.title}}</a>

<td>
	     
    {% if not forloop.last and forloop.counter|divisibleby:"5" %}
    </tr>
  {% endif %}
{% endif %}
   {% endfor  %} 
 		</tr>
</table>
-->
<div class="clear"></div>
{% endfor %}
